<tr>
  <td><%= opfld.text_field :start  , {:size => 10, :class => "zdate" } %></td>
  <td><%= opfld.text_field :end    , {:size => 10, :class => "zdate" } %></td>
  <td><%= opfld.text_field :comment, {:size => 30} %></td>
  <td><%= link_to("DELETE", member_avail_ops_path(@member, :id => op.id), :method => :delete, :confirm => "Are you sure?") %></td>
</tr>