<div id=x_container>
  <div id=x_wide_body>
    <div id=x_header>
      <table width=100%>
        <tr>
          <td align=left><b>BAMRU Wiki</b></td>
          <td align=right>
            WIKI NAV GOES HERE
          </td>
        </tr>
      </table>
    </div>

    <div id=x_single_col>

      <%= raw @page.formatted_data %>

    </div>
    <div id=x_footer> </div>

  </div>
</div>
