/* CSS Document */

   .body 					{color: black; font-size: 12px; line-height: 16px; font-family: Verdana, Arial, Helvetica, Geneva, Swiss, SunSans-Regular}
   .detailmembertype 		{color: #888888; font-size: 12px; line-height: 14px; font-family: Verdana, Arial, Helvetica, Geneva, Swiss, SunSans-Regular}
   .addcontact 				{color: #AAAAAA; font-size: 10px; line-height: 12px; font-family: Verdana, Arial, Helvetica, Geneva, Swiss, SunSans-Regular}
   .notice 					{color: #333333; font-size: 12px; font-weight: bold; line-height: 14px; font-family: Verdana, Arial, Helvetica, Geneva, Swiss, SunSans-Regular}

   table 					{font-family: Verdana, Arial, Helvetica, Geneva, Swiss, SunSans-Regular}
   table.calendar 			{font-size: 10px; background-color: #cccccc}
   table caption.calendar-month {font-size: 11px; font-weight: bold; line-height: 14px; color: #333333}
   table th 				{font-weight: bold; color: #333333}

   td.bottombanner 			{color: #787878; font-size: 11px; text-decoration: none; line-height: 15px; font-family: sans-serif}
   td.bottombanner:hover 	{background-color: #eeeeee; cursor:pointer}

   td.available 			{color: #333333; background-color: #eeeeee; width: 25px}
   td.available:hover 		{color: white;   background-color: #75a9d7; cursor:pointer}
   td.unavailable 			{color: #333333; background-color: #f3a8a1; width: 25px}
   td.unavailable:hover 	{color: white;   background-color: #75a9d7; cursor:pointer}
   td.double_unava 			{color: #333333; background-color: #e48d85; width: 25px}
   td.double_unava:hover 	{color: white;   background-color: #75a9d7; cursor:pointer}
   td.prior 				{color: #cccccc; background-color: #eeeeee; width: 25px}
   td.prior_unava 			{color: #cccccc; background-color: #f2e4e2; width: 25px}
   td.available_disabled 	{color: #333333; background-color: #eeeeee; width: 25px}