.idea
.idea/*
.idea/.*
.sass-cache
.sass-cache/*
.sass-cache/**/*
log
log/*
db/test.*
db/*.sqlite3
public/images/icon*
public/images/icons/*
doc
doc/*
coverage
coverage/*
.path*
.tag*
.bundle
log/*.log
tmp/
db/seed
db/seed/*
db/seed/**/*
public/assets
public/assets/*
public/assets/**/*
public/system
public/system/*
public/system/**/*
public/qrcodes
public/qrcodes/*
public/javascripts/compiled
public/javascripts/compiled/*
public/javascripts/compiled/**/*
spec/javascripts/compiled
spec/javascripts/compiled/*
spec/javascripts/compiled/**/*
bin
bin/*
