.idea
.idea/*
.idea/*/*
.rvmrc
.sass-cache
.sass-cache/*
.sass-cache/**/*
log
log/*
db/test.*
db/development.*
db/*.sqlite3
doc
doc/*
coverage
coverage/*
vendor
vendor/*
vendor/**/*
.path*
.tag*
.bundle
log/*.log
tmp/
db/seed
db/seed/*
db/seed/**/*
public/assets
public/assets/*
public/assets/**/*
public/system
public/system/*
public/system/**/*
public/javascripts/compiled
public/javascripts/compiled/*
public/javascripts/compiled/**/*
spec/javascripts/compiled
spec/javascripts/compiled/*
spec/javascripts/compiled/**/*

