.idea
.idea/workspace.xml
.idea/*
.idea/data*
.idea/B*
.idea/.*
.sass-cache
.sass-cache/*
.sass-cache/**/*
.rbenv-vars-*
.test-env.yaml
.vagrant
.env
log
log/*
db/data.yml
db/data.yml.*
db/structure.*
db/test.*
db/schema.*
db/*.sqlite3
public/images/icon*
public/images/icons/*
public/public
public/public/
public/public/*
/wiki
/wiki/*
doc
doc/*
coverage
coverage/*
.path*
.tag*
log/*.log
tmp/
db/seed
db/seed/*
db/seed/**/*
public/assets
public/assets/*
public/assets/**/*
public/system
public/system.*
public/system/*
public/system/**/*
public/qrcodes/
public/source_maps/
public/javascripts/compiled
public/javascripts/compiled/*
public/javascripts/compiled/**/*
spec/javascripts/compiled
spec/javascripts/compiled/*
spec/javascripts/compiled/**/*
bin
bin/*
