<table border=1>
  <thead>
  <tr>
    <th>Role</th>
    <th>Name</th>
    <th>Status</th>
    <th>Comment</th>
  </tr>
  </thead>
  <tbody>
  <% @members.each do |mem| %>
    <tr>
      <td><%=mem.full_roles%></td>
      <td><%=mem.full_name%></td>
      <td><%=mem.current_status%></td>
      <td><%=mem.current_status_comment%></td>
    </tr>
  <% end %>
  </tbody>
</table>