<html>
<head>
  <meta http-equiv="content-type" content="text/html;charset=ISO-8859-1">
  <title>Admin Page</title>
  <script type="text/javascript" src="/javascripts/jquery-1.4.4.min.js"></script>
  <script type="text/javascript" src="/javascripts/jquery-ui-1.8.7.custom.min.js"></script>
  <link rel='stylesheet' type='text/css' href='/stylesheets/admin.css'>
  <link rel='stylesheet' type='text/css' href='/stylesheets/base/jquery.ui.all.css'>
</head>
<body>
<div id='container'>
  <div class="center">
    <h2>BAMRU Calendar Admin</h2>
    <%= admin_nav %>
    <%= get_flash_notice %>
    <%= get_flash_error %>
  </div>
  <%= yield %>
</div>
</body>
</html>
