<table cellpadding="8" bgcolor="#CC0000" width="423" height="45">
  <tr>
    <td valign="bottom"> <font class="title1"><font style="color: #FFFFFF">Contact Us<br>
    </font>
    </font>
    </td>
  </tr>
</table>
<table cellpadding="6" bgcolor="#FFFFFF" width="423" height=400>
  <tr>
    <td valign="top">
      <p><font class="caps"><font style="color: #3366CC">We look forward to hearing from you.</font></font><br>
      <p><font class=summary><b>Bay Area Mountain Rescue Unit</b></font><br>
      <p align="left">
        <img alt="Po Box 33333, Stanford, CA 94309" src="images/address2.gif" style="width: 122px; height: 58px;">
      </p>
    </td>
  </tr>
</table>