<table cellpadding="8" bgcolor="#CC0000" width="423" height="45">
  <tr>
    <td valign="bottom"> <font class="title1"><font style="color: #FFFFFF">Meeting Locations<br>
    </font>
    </font>
    </td>
  </tr>
</table>
<table cellpadding="6" bgcolor="#FFFFFF" width="423" height=400>
  <tr>
    <td valign="top">
      <p><a name="PeninsulaMeeting"></a><font class="caps"><font style="color: #3366CC">PENINSULA MEETING</font></font><br>
      <p><font class=summary><b> 500 Allerton, Redwood City, CA</b></font><br>
      <p>The meeting room is on the third floor (&ldquo;200-level&rdquo;).
      </p>
      <a href="assets/mapredwoodcity_large.gif">
        <img alt="Peninsula Meeting Map" src="assets/mapredwoodcity.gif" style="border: 0px none ; width: 405px;">
      </a>
      <p><a name="EastBayMeeting"></a><font class="caps"><font style="color: #3366CC">EAST BAY MEETING</font></font><br>
      <p><font class=summary><b> 17930 Lake Chabot Road, Castro Valley</b></font><br>
      <p>Follow the driveway at 17930 to the classroom at the top of the hill. </p>
      <a href="assets/mapeastbay_large.gif">
        <img alt="East Bay Meeting Map" src="assets/mapeastbay.gif" style="border: 0px none ; width: 405px;">
      </a>
      <p>
    </td>
  </tr>
</table>