<table cellpadding="8" bgcolor="#CC0000" width="423" height="45">
  <tr>
    <td valign="bottom"> <font class="title1"><font style="color: #FFFFFF">Search &amp Rescue Links<br>
    </font>
    </font>
    </td>
  </tr>
</table>
<table cellpadding="6" bgcolor="#FFFFFF" width="423" height=400>
  <tr>
    <td valign="top">
      <p><a name="SAR_Links"></a><font class="caps"><font style="color: #3366CC"> Websites related to BAMRU and Search &amp Rescue </font></font><br>
      <p>
        <a href="http://www.mra.org/"><img src="assets/logos/mra64.gif" width="54" height="54" border="0" align="bottom"></a>&nbsp;
        <a href="http://www.carda.org/"><img src="assets/logos/carda64.gif" width="64" height="57"  border="0" align="bottom"></a>&nbsp;
        <a href="http://www.oes.ca.gov/"><img src="../www.oes.ca.gov/webpage/oeswebsite.nsf/CalEMA_LogoHor.jpg" height="54"  border="0" align="bottom"></a>&nbsp;
        <a href="http://www.nasar.org/">
          <img src="assets/logos/nasarweb64.gif" width="64" height="51" border="0" align="bottom">
        </a>
      </p>
      &nbsp;&nbsp;<a href="http://www.basarc.org/" class="nav1">Bay Area Search and Rescue Council</a><br>
      &nbsp;&nbsp;<a href="http://www.mra.org/" class="nav1">Mountain Rescue Association</a><br>
      &nbsp;&nbsp;<a href="http://www.carda.org/" class="nav1">California Rescue Dog Association (CARDA)</a><br>
      &nbsp;&nbsp;<a href="http://www.oes.ca.gov/" class="nav1">California Office of Emergency Services (OES)</a><br>
      &nbsp;&nbsp;<a href="http://www.nasar.org/" class="nav1">National Association for Search and Rescue (NASAR)</a><br>
      &nbsp;&nbsp;<a href="http://www.basarc.org/links" class="nav1">Links to other Bay Area SAR teams</a><br>
      <p><a name="Training_Links"></a><font class="caps"><font style="color: #3366CC"> Suggested training programs </font></font><br><br>
        &nbsp;&nbsp;<a href="http://www.fostercalm.com/" class="nav1">Foster Calm First Aid and Leadership Training</a><br>
        &nbsp;&nbsp;<a href="http://www.jhardin-inc.com/" class="nav1">Joel Hardin's Universal Tracking Services</a><br>
        &nbsp;&nbsp;<a href="http://wmi.nols.edu/" class="nav1">Wilderness Medicine Institute</a><br>
        &nbsp;&nbsp;<a href="http://highsierra.com/sst/" class="nav1">Dave Beck Avalanche Courses</a><br>
        &nbsp;&nbsp;<a href="http://www.alpineskills.com/" class="nav1">Alpine Skills International</a><br>
        &nbsp;&nbsp;<a href="http://www.fostercalm.com/" class="nav1">First Aid and Leadership Trainings</a><br>
      <p>
    </td>
  </tr>
</table>