


<!--  FEATURE TEXT  -->
       <table bgcolor="#cc0000" cellpadding="8" height="45" width="423">
        <tbody>
         <tr>
          <td valign="bottom"> <font class="title1"><font style="color: rgb(255, 255, 255);">Photo Gallery<br>
            </font>
           </font>
          </td>
         </tr>
        </tbody>
       </table>
       <table style="width: 423px; height: 400px; background-color: rgb(255, 255, 255);" cellpadding="0">
        <tbody>
         <tr>
          <td style="vertical-align: top;">
           <img src="assets/spacer.gif" border="0" height="20" width="1">
           <font class="summary"><b><br>Photos from recent BAMRU trainings and operations</b></font>
           <img src="images/staticgallery/gallery_overview.jpg" usemap="#Overview_Map" style="border: 0px none ;" height="2472" width="419">
           <map name="Overview_Map">
            <area shape="rect" coords="2,1,206,154" href="sgallery/pulgas_ridge.htm" target="_blank" alt="">
            <area shape="rect" coords="214,2,417,315" href="sgallery/dana_couloir.htm" target="_blank" alt="">
            <area shape="rect" coords="2,161,206,475" href="sgallery/mt_tam.htm" target="_blank" alt="">
            <area shape="rect" coords="214,322,417,474" href="sgallery/assist.htm" target="_blank" alt="">
            <area shape="rect" coords="2,482,101,715" href="sgallery/rostrum.htm" target="_blank" alt="">
            <area shape="rect" coords="107,482,312,634" href="sgallery/joshua_tree.htm" target="_blank" alt="">
            <area shape="rect" coords="319,482,417,634" href="sgallery/elt.htm" target="_blank" alt="">
            <area shape="rect" coords="107,642,417,873" href="sgallery/traverse.htm" target="_blank" alt="">
            <area shape="rect" coords="2,721,100,873" href="sgallery/mariposa.htm" target="_blank" alt="">
            <area shape="rect" coords="2,881,312,1033" href="sgallery/highline.htm" target="_blank" alt="">
            <area shape="rect" coords="319,881,417,1033" href="sgallery/cubs.htm" target="_blank" alt="">
            <area shape="rect" coords="2,1041,205,1192" href="sgallery/sequoia.htm" target="_blank" alt="">
            <area shape="rect" coords="213,1040,417,1354" href="sgallery/tenaya_peak.htm" target="_blank" alt="">
            <area shape="rect" coords="2,1201,205,1513" href="sgallery/marin.htm" target="_blank" alt="">
            <area shape="rect" coords="213,1360,417,1514" href="sgallery/plan.htm" target="_blank" alt="">
            <area shape="rect" coords="2,1520,312,1753" href="sgallery/lift.htm" target="_blank" alt="">
            <area shape="rect" coords="319,1520,417,1673" href="sgallery/falls.htm" target="_blank" alt="">
            <area shape="rect" coords="319,1680,417,1833" href="sgallery/allerton.htm" target="_blank" alt="">
            <area shape="rect" coords="2,1760,100,1832" href="sgallery/medical.htm" target="_blank" alt="">
            <area shape="rect" coords="107,1760,311,1831" href="sgallery/help.htm" target="_blank" alt="">
            <area shape="rect" coords="2,1840,206,1991" href="sgallery/arrest.htm" target="_blank" alt="">
            <area shape="rect" coords="213,1840,417,1992" href="sgallery/brush.htm" target="_blank" alt="">
            <area shape="rect" coords="2,2000,100,2151" href="sgallery/probe_line.htm" target="_blank" alt="">
            <area shape="rect" coords="107,2000,417,2152" href="sgallery/kootenay.htm" target="_blank" alt="">
            <area shape="rect" coords="2,2159,205,2470" href="sgallery/transport.htm" target="_blank" alt="">
            <area shape="rect" coords="213,2158,311,2310" href="sgallery/climbing.htm" target="_blank" alt="">
            <area shape="rect" coords="319,2159,417,2310" href="sgallery/vertical.htm" target="_blank" alt="">
            <area shape="rect" coords="214,2318,417,2470" href="sgallery/bay_area.htm" target="_blank" alt="">
           </map>
           <br>
          </td>
         </tr>
        </tbody>
       </table>
