<p><p/>
<b>ATTENTION:</b> Your BAMRU DO shift is starting!!
<p><p/>
Your DO shift starts <b>Tuesday 8am</b>.
<p><p/>
<b>TODO - Tuesday 8am:</b><br/>
1) Update the Status Line<br/>
2) Send a page to the Unit with your Contact Info
<p><p/>
<hr>
<p></p>
<b>BAMRU DO Schedule:</b><br/>
http://bamru.net/do_assignments
<p><p/>
<b>How to DO:</b><br/>
http://wiki.bamru.net/index.php/How_to_DO
<p><p/>
<b>How to AHC:</b><br/>
http://wiki.bamru.net/index.php/How_to_AHC
<p><p/>
<b>How to Callout:</b><br/>
http://wiki.bamru.net/index.php/How_to_Callout
<p><p/>
<b>Paging Protips for Duty Officers:</b><br/>
http://wiki.bamru.net/index.php/Paging_Protips
<p><p/>
<hr>
Sent by <%= @opts['author_name']   %><br/>
<hr>
Please reply to let others know you
have read this message. Learn more at the
<a href="http://wiki.bamru.net/index.php/Paging">BAMRU Wiki</a>
<p></p>
<img src="<%= @platform_url %>icon/<%= @short_label %>.gif"/>