<h2>Unit Photos</h2>

<table border=1>
  <% @members.in_groups_of(9) do |row| %>
    <tr>
      <% row.each do |mem| %>
        <td align=center>
          <%= raw unit_member_photo(mem) %>
        </td>
      <% end %>
    </tr>
  <% end %>
</table>