<br/><h2>Forgot your Password?</h2>
<br/>
<form method=post action='/password/send_email'>
  Enter your email address:
  <input type=text name=email>
  <input type=submit value="then click this button">
</form>
<p></p> <br/>