<br/><h2>Please update your password</h2>
<br/>
<form method=post action='/password/update'>
  Password:<br/>
  <input type=password name=password>
  <p></p>
  Confirm:<br/>
  <input type=password name=password_confirmation>
  <p></p>
  <input type=submit value="enter">
</form>
<p></p> <br/>