<br/><h2>Email Being Sent</h2>
An email is being sent to you at <%= @address %>.
<p></p>
When the email arrives, please open it and follow
the instructions to reset your password.
<p></p> <br/>

<% if Rails.env.development? %>
<hr>
<p></p> <br/> 
<h3>NOTICE !!</h3>
  This application is currently running in development mode.
  <p></p>
  Emails are not generated when running in development mode.
  <p></p>
  Sorry!
  <p></p>
  If you really need your password to be reset, please contact Andy Leak.
  <p></p>
  Thanks!
<% end %>
