<br/><h2>Email Being Sent</h2>
A 'password reset' email is being sent to you at <%= @address %>.
<p></p>
When the email arrives, please open it and follow
the instructions to reset your password.
<p></p><br/>

