body {
  background-color: gray;
  font-family: Verdana, Helvetica, Arial;
  font-size: 14px;
}

table {
    font-size: 12px;
}

table.info_table td {
    padding-left: 60px;
}

#container {
  width: 960px;
  margin: 0 auto;
  background-color: #FFF;
  padding: 20px;
  border: solid 1px red;
  margin-top: 20px;
}

.center {
    text-align: center;
}

table.basic {
  background-color: lightblue;
  width: 100%;
}

table.basic td {
  border: 1px solid black;
  padding: 2px;
}

table.basic th {
  padding-left: 10px;
  padding-right: 10px;
}

td.al {
  text-align: left;
}

td.ar {
  text-align: right;
}

td.ac {
  text-align: center;
}

td.btn {
  border: blue;
  /*background-color: green;*/
  text-align: center;
}

.error {
    padding: 5px;
    margin: 10px;
    background-color: pink;
    border: 20px;
}

.notice {
    padding: 5px;
    margin: 10px;
    background-color: #adff2f;
    border: 20px;
}