<div style='text-align: center; margin: 40px;'>
  <b>ADMIN LINKS</b><br/>
  <a href="/home/readstats">ReadStats</a> |
  <a href="/inbound_mails">InboundMails</a> |
  <a href="/monitor">Monitor</a><br/>
</div>
