<h2>About Member Records</h2>
In BAMRU's old system, emergency contact info and misc. data
records were mixed in with personal phone, email and address records.
<p></p>
In our new system, we're trying to migrate non-personal data to
separate categories: <b>Emergency Contacts</b> and <b>Other Info</b>
<p></p>
If you see a record highlighted in light-yellow, please move that record
to the appropriate category.
<p></p>
Going forward, valid record types will be:<br/>
- for <b>phones</b>: one of (Mobile, Home, Work, Other)<br/>
- for <b>emails</b>: one of (Personal, Work, Other)<br/>
- for <b>addresses</b>: one of (Home, Work, Other)
