<style>
  li {
    border: none;
    list-style-type: circle;
  }
</style>

<h1>About Event Publishing</h1>
On the BAMRU website, we publish a schedule with all of our Meetings, Trainings, and Special Events.<p></p>
These events are also loaded into our Google calendar.<p></p>
Additionally, we publish a summary of BAMRU Operations on our website.<p></p>
The permission rules for creating and publishing events are as follows:
<ul>
  <li>only a moderator can create/edit/publish a Meeting, Training, or Special Event</li>
  <li>anyone can create/edit an Operation</li>
  <li>only a moderator can publish an Operation</li>
  <li>once an Operation is published, only a moderator can edit the Operation</li>
</ul>
<p> </p>

