<h2>Labs</h2>
<p></p>
These prototypes are for learning new software tools and techniques.  They are not feature-complete.<br/>
Let Andy know if you spot problems or have ideas for improvement.
<p></p>
<h3 width=100% style='background: grey; padding: 3px; color: white;'>Mobile</h3>
<table>
  <tr>
    <td width=500>
      BAMRU Mobile is a small and fast interface that runs in a mobile browser.<br/>
      It is designed for Android, iPhone, iPad, iPod, and also works on Chrome/Firefox.<br/>
    </td>
    <td valign='middle' style='padding-left: 40px;'>
      <span style="margin-right: 30px;"> <%= link_to mobile_url, mobile_path %></span>
      <%= raw qr_tag(mobile_url) %>
    </td>
  </tr>
</table>
<p></p>
<h3 width=100% style='background: grey; padding: 3px; color: white;'>Messaging</h3>
<table>
  <tr>
    <td width=500>
      Experiments with chat and real-time message feeds.<br/>
      The monitor shows a streaming activity log.
    </td>
    <td  valign='middle' style='padding-left: 40px;'>
      <%= link_to monitor_url, '/monitor'  %>
    </td>
  </tr>
</table>
<p></p>

