<h2>Labs</h2>
<p></p>
These prototypes are for learning new software tools and techniques.  They are not feature-complete.<br/>
Let Andy know if you spot problems or have ideas for improvement.
<p></p>
<h3 width=100% style='background: grey; padding: 3px; color: white;'>Events</h3>
Coordination and reporting for BAMRU Events (meetings, trainings, operations).

<b><%= link_to events_url, '/events'  %></b>
<p></p>
<h3 width=100% style='background: grey; padding: 3px; color: white;'>Mobile</h3>
<table>
  <tr>
    <td>
      BAMRU Mobile is a small and fast interface that runs in a mobile browser.<br/>
      It is designed for Android, iPhone, iPad, iPod, and also works on Chrome/Firefox.<br/>
    </td>
    <td>
      <div style='margin-left: 40px;'>
        <%= raw qr_tag(mobile_url) %><br/>
        <%= link_to mobile_url, mobile_path %>
      </div>
    </td>
  </tr>
</table>
<p></p>
<h3 width=100% style='background: grey; padding: 3px; color: white;'>Messaging</h3>
Experiments with chat and real-time message feeds.
<p></p>
<b><%= link_to "Monitor", '/monitor'  %></b> - streaming performance stats and events