<h2>Labs</h2>
<p></p>
These prototypes are for learning new software tools and techniques.  They are not feature-complete.<br/>
Let Andy know if you spot problems or have ideas for improvement.
<p></p>
<h3 width=100% style='background: grey; padding: 3px; color: white;'>Messaging</h3>
<table>
  <tr>
    <td width=500>
      Experiments with chat and real-time message feeds.<br/>
      The monitor shows a streaming activity log.
    </td>
    <td  valign='middle' style='padding-left: 40px;'>
      <%= link_to monitor_url, '/monitor'  %>
    </td>
  </tr>
</table>
<p></p>

