<h2>BAMRU Mobile</h2>
<p></p>
Mobile pages are designed for smart phones and touch-screen devices.
They should work well on Android, iPhone, iPad, and Blackberry.
<p></p>
To get started, visit <%= link_to mobile_url, mobile_path %>.