Welcome!
<p></p>
Mobile pages are designed for smart phones.  They should work well on
Android, iPhone, iPad, and Blackberry devices.
<p></p>
To get started, visit <%= link_to mobile_url, mobile_path %>.