<h2>BAMRU Mobile</h2>
<p></p>
BAMRU Mobile is designed for Android, iPhone, iPad, and BlackBerry.
<p></p>
We need to build experience to understand how Mobile can work best for SAR.
<p></p>
Visit <%= link_to mobile_url, mobile_path %> with your mobile browser, and give it a try!
<p></p>
Let Andy know if you spot problem or have ideas for enhancements.
<p></p>
<%= image_tag("qrcode.png") %>