<h2>BAMRU Mobile ( ALPHA )</h2>
<p></p>
BAMRU Mobile is designed for Android, iPhone, iPad, iPod, and BlackBerry.
<p></p>
You can run these prototypes from any mobile or desktop browser.
<p></p>
Let Andy know if you spot problems or have ideas for improvement.
<p></p>
<table width=100%>
  <tr>
    <td>
      <b>Prototype 1</b><br/>
      Works fine on wifi, but not so great when network coverage is poor.<br/>
      Status: Finished<br/>
      <%= image_tag("mobile1.png") %><br/>
      <%= link_to mobile1_url, mobile1_path %>
    </td>
    <td>
      <b>Prototype 2</b><br/>
      Handles disconnected operation and low-quality networking.<br/>
      Status: Under Active Development<br/>
      <%= image_tag("mobile2.png") %><br/>
      <%= link_to mobile2_url, mobile2_path %>
    </td>
  </tr>
</table>