<%= javascript_include_tag 'home/all_home_test' %>

<div id="counter">
  <h1>Counter</h1>
  <button id="inc-count">Increase</button>
  <button id="dec-count">Decrease</button>
  <div id="count"></div>
</div>



