<%=
    render :partial => 'foundation',
           :locals  => {
                   :nav     => wiki_index_nav,
                   :content => "<div style='width: 100%; text-align: center'>CONTENT TBD</div>"
           }
%>
