<script type="text/template" id="bb_show_template">
  <div class='tgt_event orow '>
    <div class='leftcol'>
      <b><%%= title %></b>
    </div>
    <div class='rightcol'>
      not published
    </div>
  </div>
  <div class='orow'>
    <div class='leftcol'>
      <%%= hTyp() %>
    </div>
    <div class='rightcol'>
      Th 2012-May-12 08:00 to Su 2012-May-13 17:00
    </div>
  </div>
  <div class='orow'>
    <div class='leftcol'>
      Leader: Rankin Fitzgerald
    </div>
    <div class='rightcol'>
      <%%= location %> [lat 32.2343 lon -122.3324]
    </div>
  </div>
  <div class='orow pl'>
    Description: <%%= description %>
  </div>
</script>
