<script type="text/template" id="bb_edit_template">
  <table border=0>
    <tr>
      <td align="right">Type: </td>
      <td width=100%><input value="<%%= typ %>"></td>
    </tr>
    <tr>
      <td align="right">Title: </td>
      <td><input value="<%%= title %>"></td>
    </tr>
    <tr>
      <td align="right">Location: </td>
      <td><input value="<%%= location %>"></td>
    </tr>
    <tr>
      <td align="right">Leaders: </td>
      <td></td>
    </tr>
    <tr>
      <td align="right">Start: </td>
      <td><%%= start %></td>
    </tr>
    <tr>
      <td align="right">Finish: </td>
      <td><%%= finish %></td>
    </tr>
    <tr>
      <td align="right">Description: </td>
      <td><textarea rows=10 class='boxsizingBorder'><%%= description %></textarea></td>
    </tr>
  </table>
</script>
