<%= javascript_include_tag "events/all_events" %>

<div id=x_container >
  <div id=x_wide_body>
    <div id=x_header>
      <table width=100%>
        <tr>
          <td align=left><b>Events</b></td>
          <td align=center>
          </td>
          <td align=right>
          </td>
        </tr>
      </table>
    </div>

    <%= render :partial => 'common' %>

    <div id=x_footer style="font-size: 10pt;">

    </div>

  </div>
</div>
