<table border=1>
  <tr>
    <th></th>
    <th></th>
    <th>This Week</th>
    <th>Comment</th>
  </tr>
  <% @members.each do |mem| %>
    <tr>
      <td><%=mem.typ%></td>
      <td><%=mem.first_name%> <%=mem.last_name%></td>
      <td>unavailable</td>
      <td>great day</td>
    </tr>
  <% end %>
</table>