<!DOCTYPE html>
<html manifest="/mtimerf.manifest">
<head>
  <title>Mobile Timer</title>
  <%= stylesheet_link_tag "mtimer" %>
  <%= javascript_include_tag "mtimer/all_mtimer" %>
  <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=1;" />
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <meta names="apple-mobile-web-app-status-bar-style" content="black-translucent" />
<body>

<embed src="/ding.wav" hidden=true autostart=false loop=false/>

<div id=time>Time</div>

<div id=buttons>
  <a href="#" id=25m>25:00</a>
  <a href="#" id=15m>15:00</a>
  <a href="#" id=05m>05:00</a>
  <a href="#" id=05s>00:05</a>
  <a href="#" id=stp>stop</a>
</div>
 <br/>
 <br/>
 <br/>
 <br/>
 <br/>
 <br/>
 <br/>
 <br/>
 <br/>
 <br/>
 <br/>
 <br/>
 <br/>
 <br/>
 <br/>
 <br/>

</body>
</html>
