These pages are for smart phones and touch-screen devices.
<p></p>
They are designed to work on Android, iPhone, iPad, and Blackberry devices.
<p></p>
Your are currently logged in as <%= current_member.full_name %>.
( <%= link_to "log out", mobile_logout_path %> )