<%= javascript_include_tag "mobile_about.js" %>

Use BAMRU Mobile on Android, iPhone, iPad, or BlackBerry/Opera.
<p></p>
<table>
  <tr>
    <td align=center colspan=2>
      <%= link_to(current_member.full_name, mobile_member_path(current_member), "data-role" => "button" ) %>
    </td>
  </tr>
  <tr>
    <td align=right>Platform:</td>
    <td id="device">TBD</td>
  </tr>
  <tr>
    <td align=right>Screen:</td>
    <td><span id="size">TBD</span></td>
  </tr>
  <tr id="loc_row">
    <td align=right>Location:</td>
    <td><span id="loc">TBD</span></td>
  </tr>
  <tr id="map_button">
    <td colspan=2>
      <a href='/mobile/map' data-role='button' data-ajax="false">My Location</a>
    </td>
  </tr>
</table>
<% if current_member.developer? %>
<a href='tel:650-234-2344' data-role='button' data-ajax="false">Dial</a>
<a href='sms:650-234-2344' data-role='button' data-ajax="false">SMS</a>
<a href='mailto:joe@rr.com' data-role='button' data-ajax="false">Email</a>
<% end %>
