<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
<%= javascript_include_tag "jquery.ui.map.js" %>
<%= javascript_include_tag "mobile_map.js" %>

Your location: <span id=coords>TBD...</span>

<div id="canvas" style="height: 400px; width: 400px;">
  
</div>