<style>
    .style1, .style2 { display: block; font-size: 40px; margin-right: 40px }
    .style1 {
        color: #ed5a76;
        text-shadow: 0 1px 0 rgba(0,0,0,0.5),
        0 -1px 0 rgba(0,0,0,0.5),
        1px 0 0 rgba(0,0,0,0.5),
        -1px 0 0 rgba(0,0,0,0.5),
        0 2px 0 rgba(0,0,0,0.3),
        0 3px 0 rgba(0,0,0,0.4),
        0 4px 0 rgba(0,0,0,0.5);
    }
    .style2 {
        color: green;
        text-shadow: 0 0 20px #1F849E
    }
    .shover:hover {
        color: blue;
    }
</style>

<!-- Navigation -->

<nav class="top-bar">
  <ul class="title-area">
    <!-- Title Area -->
    <li class="name">
      <h1>
        <a href="#">
          SMSO-ESB Icons
        </a>
      </h1>
    </li>
  </ul>

  <section class="top-bar-section">
    <!-- Right Nav Section -->

  </section>
</nav>

<!-- End Top Bar -->

<div class="row">
  <div class="large-12 columns">

    <!-- Standard Header -->

    <div class="row">
      <div class="large-4 columns">
        <b>General Icons</b><p></p>
        <i class='general foundicon-location'> location</i><br/>
        <i class='general foundicon-mail'> mail</i><br/>
        <i class='general foundicon-calendar'> calendar</i><br/>
        <i class='general foundicon-tools'> tools</i><br/>
        <i class='general foundicon-page'> page</i><br/>
        <i class='general foundicon-settings'> settings</i><br/>
        <i class='general foundicon-edit'> edit</i><p></p>
      </div>
      <div class="large-4 columns">
        <b>Enclosed Icons</b><p></p>
        <i class='general-enclosed foundicon-location'> location</i><br/>
        <i class='general-enclosed foundicon-mail'> mail</i><br/>
        <i class='general-enclosed foundicon-calendar'> calendar</i><br/>
        <i class='general-enclosed foundicon-tools'> tools</i><br/>
        <i class='general-enclosed foundicon-page'> page</i><br/>
        <i class='general-enclosed foundicon-trash'> trash</i><br/>
        <i class='general-enclosed foundicon-edit'> edit</i><p></p><p></p>
      </div>
      <div class="large-4 columns">
        <b>Social Icons</b><p></p>
        <i class='social foundicon-twitter'> twitter</i><br/>
        <i class='social foundicon-facebook'> facebook</i><br/>
        <i class='social foundicon-thumb-up'> thumb-up</i><br/>
        <i class='social foundicon-thumb-down'> thumb-down</i><br/>
        <i class='social foundicon-rss'> rss</i><br/>
        <i class='social foundicon-chat'> chat</i><br/>
        <i class='social foundicon-skype'> skype</i><p></p>
      </div>
    </div>
    <div class="row">
      <div class="large-4 columns">
        <b>Accessibility Icons</b><p></p>
        <i class='accessibility foundicon-eyeball'> eyeball</i><br/>
        <i class='accessibility foundicon-eject'> eject</i><br/>
        <i class='accessibility foundicon-speaker'> speaker</i><br/>
        <i class='accessibility foundicon-adult'> adult</i><br/>
        <i class='accessibility foundicon-person'> person</i><br/>
        <i class='accessibility foundicon-fontsize'> fontsize</i><br/>
        <i class='accessibility foundicon-key'> key</i><p></p>
      </div>
      <div class="large-4 columns">
        <b>Icon Styling</b><p></p>
        <i class="general foundicon-settings style1"></i><p></p>
        <i class="social foundicon-chat style2"></i>
        </div>
      <div class="large-4 columns">
        <b>Hover Effects</b><p></p>
        <i class="general foundicon-mail style1 shover"></i><p></p>
        <i class="social foundicon-rss style2 shover"></i>
        </div>
      </div>

    <!-- End Mobile Header -->



    <!-- End Shows -->


    <!-- Image -->


    <!-- End Image -->


    <!-- Feed -->


    <!-- End Feed -->

  </div>
</div>

    <!-- End Content -->


    <!-- Footer -->

    <footer class="row">
      <div class="large-12 columns"><hr>
        <div class="row">

            <p>Send questions/feedback to Andy Leak - andy@r210.com - 650-823-0836</p>

        </div>
      </div>
    </footer>

