<!-- Navigation -->

<nav class="top-bar">
  <ul class="title-area">
    <!-- Title Area -->
    <li class="name">
      <h1>
        <a href="#">
          SMSO-ESB Mockups
        </a>
      </h1>
    </li>
  </ul>

  <section class="top-bar-section">
    <!-- Right Nav Section -->

  </section>
</nav>

<!-- End Top Bar -->

<div class="row">
  <div class="large-12 columns">

    <!-- Standard Header -->

    <div class="row">
      <div class="large-12">
        Here are some page layout mockups for SMSO-ESB.net.  Click the blue buttons to browse.<p></p>
        All of the layouts work on a desktop browser, tablet or smart phone. Try it out!<p></p>
        <% %w(banded blog feed grid orbit banner sidebar contact marketing realty boxy store workspace).each do |tmpl| %>
            <a href='/zesb/<%= tmpl %>' class='large button'><%= tmpl.capitalize %></a>
        <% end %>

      </div>
    </div>

    <!-- End Mobile Header -->



    <!-- End Shows -->


    <!-- Image -->


    <!-- End Image -->


    <!-- Feed -->


    <!-- End Feed -->

  </div>
</div>

    <!-- End Content -->


    <!-- Footer -->

    <footer class="row">
      <div class="large-12 columns"><hr>
        <div class="row">

            <p>Send questions/feedback to Andy Leak - andy@r210.com - 650-823-0836</p>

        </div>
      </div>
    </footer>

