<!-- Navigation -->

<nav class="top-bar">
  <ul class="title-area">
    <!-- Title Area -->
    <li class="name">
      <h1>
        <a href="#">
          SMSO-ESB Mockups
        </a>
      </h1>
    </li>
  </ul>

  <section class="top-bar-section">
    <!-- Right Nav Section -->

  </section>
</nav>

<!-- End Top Bar -->

<div class="row">
  <div class="large-12 columns">

    <!-- Standard Header -->

    <div class="row">
      <div class="large-12">
        <b>Page Layouts</b><p></p>
        Here are some page layout mockups for SMSO-ESB.net.  Click the blue buttons to browse.<p></p>
        All of the layouts work on a desktop browser, tablet or smart phone. Try it out!<p></p>
        <% %w(banded blog feed grid orbit banner sidebar contact marketing realty boxy store workspace).each do |tmpl| %>
            <a href='/zesb/<%= tmpl %>' class='medium button'><%= tmpl.capitalize %></a>
        <% end %>
      </div>
      <div class="large-12">
        <b>Design Elements</b><p></p>
        These samples show the design elements that will be employed on the new site.<p></p>
        <a class='medium button hide-for-touch' href='/files/SMSO_stylesheet.pdf' target='_blank'>Style Sheet</a>
        <% if current_member.developer? %>
            <a class='medium button' href='/zesb/icons'>Icon Set</a>
        <% end %>
        <a class='medium button' href='/zesb/tables'>Responsive Tables</a>
      </div>
    </div>

    <!-- End Feed -->

  </div>
</div>

    <!-- End Content -->


    <!-- Footer -->

    <footer class="row">
      <div class="large-12 columns"><hr>
        <div class="row">

            <p>Send questions/feedback to Andy Leak - andy@r210.com - 650-823-0836</p>

        </div>
      </div>
    </footer>

