<!-- Navigation -->

<nav class="top-bar">
  <ul class="title-area">
    <!-- Title Area -->
    <li class="name">
      <h1>
        <a href="#">
          SMSO-ESB Tables
        </a>
      </h1>
    </li>
  </ul>

  <section class="top-bar-section">
    <!-- Right Nav Section -->

  </section>
</nav>

<!-- End Top Bar -->

    <!-- Standard Header -->

    <div class="row">
      <div class="large-12">

      Making tables fit on small-screen devices is difficult.  Our narrow-screen technique is
      to anchor the first column, the let the remaining columns scroll left and right.
      Try it on a smart-phone or iPad!<p></p>

      <h5>Small Word Table</h5>


      In most cases, tables like this are okay at smaller sizes (since they'll break on every small word). However, with this many columns a very small device like a phone would still be a problem.
      <p></p>

      <table class="responsive">

        <tr>
          <th>Header 1</th>
          <th>Header 2</th>
          <th>Header 3</th>
          <th>Header 4</th>
          <th>Header 5</th>
          <th>Header 6</th>
          <th>Header 7</th>
          <th>Header 8</th>
        </tr>
        <tr>
          <td>row 1, cell 1</td>
          <td>row 1, cell 2</td>
          <td>row 1, cell 3</td>
          <td>row 1, cell 4</td>
          <td>row 1, cell 5</td>
          <td>row 1, cell 6</td>
          <td>row 1, cell 7</td>
          <td>row 1, cell 8</td>
        </tr>
        <tr>
          <td>row 2, cell 1</td>
          <td>row 2, cell 2</td>
          <td>row 2, cell 3</td>
          <td>row 2, cell 4</td>
          <td>row 2, cell 5</td>
          <td>row 2, cell 6</td>
          <td>row 2, cell 7</td>
          <td>row 2, cell 8</td>
        </tr>
        <tr>
          <td>row 3, cell 1</td>
          <td>row 3, cell 2</td>
          <td>row 3, cell 3</td>
          <td>row 3, cell 4</td>
          <td>row 3, cell 5</td>
          <td>row 3, cell 6</td>
          <td>row 3, cell 7</td>
          <td>row 3, cell 8</td>
        </tr>
        <tr>
          <td>row 4, cell 1</td>
          <td>row 4, cell 2</td>
          <td>row 4, cell 3</td>
          <td>row 4, cell 4</td>
          <td>row 4, cell 5</td>
          <td>row 4, cell 6</td>
          <td>row 4, cell 7</td>
          <td>row 4, cell 8</td>
        </tr>

      </table>

      <hr />

      <h5>Larger Content Table</h5>

      The effect is even more pronounced on a table like this one.
      Notice on a small device how we maintain the left column when it has so much content.
      <p></p>

      <table class="responsive">
        <tbody>
        <tr>
          <th>Perk</th>
          <th>Description</th>
          <th>ID</th>
          <th>Skill Req</th>
          <th>Perk Req</th>
        </tr>
        <tr>
          <td>Steel Smithing</td>
          <td>Can create Steel armor and weapons at forges, and improve them twice as much.</td>
          <td>000cb40d</td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>Arcane Blacksmith</td>
          <td>You can improve magical weapons and armor.</td>
          <td><span style="font-size: x-small" class="idref">0005218e</span></td>
          <td>60 Smithing</td>
          <td>Steel Smithing</td>
        </tr>
        <tr>
          <td>Dwarven Smithing</td>
          <td>Can create Dwarven armor and weapons at forges, and improve them twice as much.</td>
          <td>000cb40e</td>
          <td>30 Smithing</td>
          <td>Steel Smithing</td>
        </tr>
        <tr>
          <td>Orcish Smithing</td>
          <td>Can create Orcish armor and weapons at forges, and improve them twice as much.</td>
          <td>000cb410</td>
          <td>50 Smithing</td>
          <td>Dwarven Smithing</td>
        </tr>
        <tr>
          <td>Ebony Smithing</td>
          <td>Can create Ebony armor and weapons at forges</a>, and improve them twice as much.</td>
          <td>000cb412</td>
          <td>80 Smithing</td>
          <td>Orcish Smithing</td>
        </tr>
        <tr>
          <td>Daedric Smithing</td>
          <td>Can create Daedric armor and weapons at forges, and improve them twice as much.</td>
          <td><span>000cb413</span></td>
          <td>90 Smithing</td>
          <td>Ebony Smithing</td>
        </tr>
        <tr>
          <td>Elven Smithing</td>
          <td>Can create Elven armor and weapons at forges, and improve them twice as much.</td>
          <td>000cb40f</td>
          <td>30 Smithing</td>
          <td>Steel Smithing</td>
        </tr>
        <tr>
          <td>Advanced Armors</td>
          <td>Can create Scaled and Plate armor at forges, and improve them twice as much.
          <td>000cb414</td>
          <td>50 Smithing</td>
          <td>Elven Smithing</td>
        </tr>
        <tr>
          <td>Glass Smithing</td>
          <td>Can create Glass armor and weapons at forges, and improve them twice as much.</td>
          <td>000cb411</td>
          <td>70 Smithing</td>
          <td>Advanced Armors</td>
        </tr>
        <tr>
          <td>Dragon Armor</td>
          <td>Can create Dragon armor at forges, and improve them twice as much.</td>
          <td>00052190</td>
          <td>100 Smithing</td>
          <td>Daedric Smithing or Glass Smithing</td>
        </tr>
        </tbody>
      </table>

      <hr />

      <h5>Very Long 1st Cell Content</h5>

      One last test...<p></p>

      <table class="responsive">

        <tr>
          <th>Header 1</th>
          <th>Header 2</th>
          <th>Header 3</th>
          <th>Header 4</th>
          <th>Header 5</th>
          <th>Header 6</th>
          <th>Header 7</th>
          <th>Header 8</th>
        </tr>
        <tr>
          <td>Ham pork leberkas bresaola, brisket t-bone filet mignon hamburger salami andouille short loin sausage.</td>
          <td>row 1, cell 2</td>
          <td>row 1, cell 3</td>
          <td>row 1, cell 4</td>
          <td>row 1, cell 5</td>
          <td>row 1, cell 6</td>
          <td>row 1, cell 7</td>
          <td>row 1, cell 8</td>
        </tr>
        <tr>
          <td>Ham pork leberkas bresaola, brisket t-bone filet mignon hamburger salami andouille short loin sausage.</td>
          <td>row 2, cell 2</td>
          <td>row 2, cell 3</td>
          <td>row 2, cell 4</td>
          <td>row 2, cell 5</td>
          <td>row 2, cell 6</td>
          <td>row 2, cell 7</td>
          <td>row 2, cell 8</td>
        </tr>
        <tr>
          <td>Ham pork leberkas bresaola, brisket t-bone filet mignon hamburger salami andouille short loin sausage.</td>
          <td>row 3, cell 2</td>
          <td>row 3, cell 3</td>
          <td>row 3, cell 4</td>
          <td>row 3, cell 5</td>
          <td>row 3, cell 6</td>
          <td>row 3, cell 7</td>
          <td>row 3, cell 8</td>
        </tr>
        <tr>
          <td>Ham pork leberkas bresaola, brisket t-bone filet mignon hamburger salami andouille short loin sausage.</td>
          <td>row 4, cell 2</td>
          <td>row 4, cell 3</td>
          <td>row 4, cell 4</td>
          <td>row 4, cell 5</td>
          <td>row 4, cell 6</td>
          <td>row 4, cell 7</td>
          <td>row 4, cell 8</td>
        </tr>

      </table>




    <!-- End Mobile Header -->



    <!-- End Shows -->


    <!-- Image -->


    <!-- End Image -->


    <!-- Feed -->


    <!-- End Feed -->

  </div>
</div>

    <!-- End Content -->


    <!-- Footer -->

    <footer class="row">
      <div class="large-12 columns"><hr>
        <div class="row">

            <p>Send questions/feedback to Andy Leak - andy@r210.com - 650-823-0836</p>

        </div>
      </div>
    </footer>

