<div data-role="listview" data-inset="true" data-theme="c" data-filter="true" data-filter-placeholder="Find member...">
  <% @members.each do |mem| %>
    <li><%= link_to mem.full_name, mobile_member_path(mem) %></li>
  <% end %>
</div>