<div class='guest_box'>
  <div class="capsblue">Guest Policy</div><br/>
  <div class="copy">
    Permission to participate in any BAMRU event is at the sole discretion of BAMRU. Selected BAMRU trainings are open to guests provided the guest has: (1) attended the general meeting preceding the training, (2) turned in a completed Sheriff's Office waiver form and been "sworn" by a designated Sheriff's official, and (3) met with the training leader and been approved by that leader as meeting any prerequisites specific to that training. Two or three trainings during the spring recruiting drive are typically open to guests. Most other trainings are less open to guests; refer to the description of individual trainings for further information. All events and schedules are subject to change. 
  </div>
  <div class="capsblue" style="margin-top: 300px;">Google Calendar Sync</div><br/>
  <div class="copy">
      Sync BAMRU events to Google Calendar:
      <ol style="margin-left: 0; padding-left: 20px;">
      <li>Open your Google Calendar
      <li>Find the "Open v" button on the bottom-right
      <li>Select the option "Add by URL"
      <li>Enter<br/><code><%=current_server%>/calendar.ical</code>
      </ol>
      After that you can overlay BAMRU events onto your Google calendars.
  </div>
</div>
