<%= javascript_include_tag "mobile1/mobile_markall" %>


<% if current_member.distributions.unread.count != 0 %>
  <a href='#' id="markall" data-role='button'>mark all as read</a>
<% end %>

<div data-role="listview" data-inset="true" data-theme="c">
  <% @dists.each do |dist| %>
    <li>
      <%= raw inbox_helper(dist) %>
    </li>
  <% end %>
</div>