window.resizeChatList = ->
  target = $('#mobile_chat, #chat').first()
  list   = target.children()
  rlist = $(list.get().reverse())
  sum = 5
  idx = 0
  tgt = $(document).height() - 215
  $.each rlist, (idx, ele) ->
    sum = sum + 21
    if sum < tgt
      $(ele).show()
    else
      $(ele).hide()
    $(ele).remove() if idx > 15

window.zupdateChatList = (json) ->
  obj  = JSON.parse json
  tmpl = "<li>#{obj.text}<span class='created_at'>#{obj.short_name} | #{obj.created_at}</span></li>"
  $('#chat').append(tmpl)
  window.resizeChatList()
  window.clearText() if $('#chat_text').attr('value') == obj.text

window.sizeLabel = ->
  str = "#{$(document).height()}H / #{$(document).width()}W"
  $('#chat_label').text(str)

window.clearText = ->
  $('#chat_text').attr('value','')

$(document).ready ->
  faye = new Faye.Client("<%= FAYE_SERVER %>")
  faye.subscribe("/chats/new", (data) -> zupdateChatList(data))
