/* 
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
  You can use Sass (SCSS) here: http://sass-lang.com/
*/

.cert_error {
  color: red;
  margin-left: 120px;
  margin-top:  10px;
}

.action {
  margin-left: 120px;
  margin-top:  10px;
}

#sortable {
  list-style-type: none; margin: 0; padding: 0;
}

li {
  list-style-type: none;
  border-top: white;
  border-left: white;
  border-right: white;
  border-bottom: lightgray;
  border-style: solid;
  border-width:  1px;
}

.handle {
  margin-right: 5px;
}

.cert_header {
  background-color: #eeeeee;
}

.cert_divider {
  height: 15px;
}