// ----- timepicker styles -----

.ui-datepicker { font-family: Trebuchet MS, Tahoma, Verdana, Arial, sans-serif; font-size: .9em; }
.ui-timepicker-div .ui-widget-header { margin-bottom: 8px; }
.ui-timepicker-div dl { text-align: left; }
.ui-timepicker-div dl dt { height: 25px; margin-bottom: -25px; }
.ui-timepicker-div dl dd { margin: 0 10px 10px 65px; }
.ui-timepicker-div { font-size: .95em; }
.ui-tpicker-grid-label { background: none; border: none; margin: 0; padding: 0; }

// ----- multiselect styles -----

.ui-multiselect { padding:2px 0 2px 4px; text-align:left }
.ui-multiselect span.ui-icon { float:right }
.ui-multiselect-single .ui-multiselect-checkboxes input { position:absolute !important; top: auto !important; left:-9999px; }
.ui-multiselect-single .ui-multiselect-checkboxes label { padding:5px !important }

.ui-multiselect-header { margin-bottom:3px; padding:3px 0 3px 4px }
.ui-multiselect-header ul { font-size:0.9em }
.ui-multiselect-header ul li { float:left; padding:0 10px 0 0 }
.ui-multiselect-header a { text-decoration:none }
.ui-multiselect-header a:hover { text-decoration:underline }
.ui-multiselect-header span.ui-icon { float:left }
.ui-multiselect-header li.ui-multiselect-close { float:right; text-align:right; padding-right:0 }

.ui-multiselect-menu { display:none; padding:3px; position:absolute; z-index:10000; text-align: left }
.ui-multiselect-checkboxes { position:relative /* fixes bug in IE6/7 */; overflow-y:scroll }
.ui-multiselect-checkboxes label { cursor:default; display:block; border:1px solid transparent; padding:3px 1px }
.ui-multiselect-checkboxes label input { position:relative; top:1px }
.ui-multiselect-checkboxes li { clear:both; font-size:0.9em; padding-right:3px }
.ui-multiselect-checkboxes li.ui-multiselect-optgroup-label { text-align:center; font-weight:bold; border-bottom:1px solid }
.ui-multiselect-checkboxes li.ui-multiselect-optgroup-label a { display:block; padding:3px; margin:1px 0; text-decoration:none }

/* remove label borders in IE6 because IE6 does not support transparency */
* html .ui-multiselect-checkboxes label { border:none }

// ----- custom styles -----

#select-button {
  display: none;
  padding: none;
}

#select-menu {
  position: absolute;
  z-index: 2;
  display: none;
  padding: 5px;
  border: 1px solid black;
  background: #ececec;
}

.evlink-table { font-size: 8pt; }

.evlink:hover {
  color: black;
  background: lightgrey;
  opacity: 1.0;
}

.evlink:visited {
  color:   black;
}

.evlink:focus {
  outline: none;
  color: black;
}

.cksel {
  margin-left:    1px;
  vertical-align: -2px;
}
.ckpost {
  margin-right: 5px;
}
.date_align {
    margin-right: 16px;
}

.boxsizingBorder {
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing:    border-box;
  box-sizing:         border-box;
}

.padded4 {
  padding-left:  4px;
  padding-right: 4px;
}

table label {
  vertical-align: bottom;
  position: relative;
  bottom: 3px;
}

.orow {
  clear: both;
  padding-left: 2px;
}

.ul, .ul td {
  border-bottom: 1px solid lightgrey;
}

.leftcol {
  display: block;
  width: 41%;
  float: left;
}

.rightcol {
  position: relative;
  display: block;
  width: 58%;
  margin-left: 42%;
}

.ui-state-default a:hover {
  background-color: #d2d2d2;
}

.displayTable {
  border: none;
}

.displayTable td {
  padding-left:  4px;
  padding-right: 4px;
}

.displayTable tr {
  padding-right: 4px;
}

.formCheck {
  position: relative;
  vertical-align: bottom;
  margin-left: 0;
  padding-left: 0;
}

.eventLinks {
  font-size: 8pt;
  margin-bottom: 4px;
  //margin-left: 65px;
}

.eventLinks a:hover {
  color: white;
}

.eventLinks a {
  padding-left: 3px;
  padding-right: 3px;
}