/* 
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
  You can use Sass (SCSS) here: http://sass-lang.com/
*/

.evlink-table {
  font-size: 8pt;
}

.evlink:hover {
  color: black;
  background: lightgrey;
  opacity: 1.0;
}

.evlink:visited {
  color:   black;
}

.evlink:focus {
  outline: none;
  color: black;
}

#search_div {
  margin-bottom: 6px;
  margin-left:   10px;
}

#legend_div {
  margin: 8px;
  padding: 4px;
  background: lightblue;
  font-size: 9px;
}

.cksel {
  margin-left:    1px;
  vertical-align: -2px;
}
.ckpost {
  margin-right: 14px;
}
.date_align {
    margin-right: 16px;
}