/* ---------- containers ---------- */

#container {
  width: 960px;
  margin: 0 auto;
  background-color: #ffffff;
  border: solid 1px black;
}

#xbody {
  margin-left: 30px;
  margin-right: 30px;
}

#mybody {
  background-color: #0099cc;
  font-family: Verdana, Helvetica, Arial;
  font-size: 13px;
}

#subnav {
  font-size: 10px;
}

.clear {
  clear: both;
  height: 0;
  overflow: hidden;
}

.debug {
  text-align: center;
  font-size: 11px;
}