/* 
  Styles for Members Controller
*/

$wide_body_width:   905px;
$body_width:        644px;
$narrow_body_width: 644px;
$border_width:      1px;
$col_padding:       8px;
$col_offset:        100;
$right_width:       220px;
$narrow_base_width: $narrow_body_width/2 - $col_padding*2 - $border_width;
$left_width:        $wide_body_width - $right_width - $col_padding*2 - $border_width;
$col_base_width:    $body_width/2 - $col_padding*2 - $border_width;

@mixin x_border {
  border: solid gray $border_width;
}

@mixin col_style {
  @include x_border;
  border-top-style: none;
  border-bottom-style: none;
  padding: $col_padding;
}

@mixin x_header_footer {
  @include x_border;
  text-align: center;
  background-color: #cccccc;
  padding: 2px;
}

#x_container, #y_container {
  align: center;
  margin-top: 2px;
  margin-bottom: 2px;
}

#x_body {
  width: $body_width;
  margin:auto;
}

#y_body {
  width: $narrow_body_width;
  margin: auto;
}

#x_wide_body {
  width: $wide_body_width;
  margin:auto;
}

#x_header, #y_header {
  @include x_header_footer;
}

$col_height: 225px;

#mem_left_col {
  @include col_style;
  float: left;
  width: 64%;
}

#mem_right_col {
  @include col_style;
  float: right;
  border-left-style: none;
  width: 30%;
  }

#x_single_col {
  @include col_style;
  /*width: 100%;*/
  padding: 4px;
}

#x_left_col {
  @include col_style;
  float: left;
  width: $col_base_width - $border_width;
}

#x_right_col {
  @include col_style;
  float: right;
  border-left-style: none;
  width: $col_base_width;
}

#y_left_col {
  @include col_style;
  float: left;
  width: $narrow_base_width - $border_width;
}

#y_right_col {
  @include col_style;
  float: right;
  border-left-style: none;
  width: $narrow_base_width;
}

#x_footer, #y_footer{
  @include x_header_footer;
  clear: both;
  padding: 4px;
}

.graybg {
  padding: 3px;
  background-color: #cccccc;
}

#x_header_left {
  float: left;
}

#x_header_right {
  float: right;
}

#x_header_bottom {
  clear: both;
}

/* this is for the pop-up boxes for member editing */

#blanket {
  height: 100%;
  width: 100%;
  background: #000000;
  position: absolute;
  top: 0;
  left: 0;
  -moz-opacity:0.75;
  -khtml-opacity: 0.75;
  opacity: 0.75;
  filter:alpha(opacity=75);
}

#phone_popup, #email_popup, #do_popup, #rsvp_popup {
  width:  400px;
  margin: 20px;
  padding: 20px;
  border: 1px solid #000000;
  background: #ffffff;
  position: absolute;
  top: 100px;
}

.black_box {
 display: inline-block;
 width: 10px;
 height: 10px;
 text-decoration: none;
 background: url("/icon/box.png");
 background-position: -40px 0;
}

.green_box {
 display: inline-block;
 width: 10px;
 height: 10px;
 text-decoration: none;
 background: url("/icon/box.png");
}

.black_box:hover {
  background-position: -30px 0;
}

.green_box:hover {
  background-position: -30px 0;
}

.fields {
  list-style-type: none;
  border-style: none;
}

#pager_icon:hover, #email_icon:hover {
  cursor: pointer;
  background: blue;
}