/* 
  Styles for Members Controller
*/

$body_width:     644px;
$border_width:   1px;
$col_padding:    8px;
$col_offset:     100;
$col_base_width: $body_width/2 - $col_padding*2 - $border_width;

@mixin x_border {
  border: solid gray $border_width;
}

@mixin col_style {
  @include x_border;
  border-top-style: none;
  border-bottom-style: none;
  padding: $col_padding;
}

@mixin x_header_footer {
  @include x_border;
  text-align: center;
  background-color: #cccccc;
  padding: 8px;
}

#x_container {
  align: center;
  margin-top: 5px;
  margin-bottom: 5px;
}

#x_body {
  width: $body_width;
  margin:auto;
}

#x_header{
  @include x_header_footer;
}

$col_height: 225px;

#mem_left_col {
  @include col_style;
  float: left;
  width: $col_base_width - $border_width + $col_offset;
}

#mem_right_col {
  @include col_style;
  float: right;
  border-left-style: none;
  width: $col_base_width - $col_offset;
  }

#x_left_col {
  @include col_style;
  float: left;
  width: $col_base_width - $border_width;
}

#x_right_col {
  @include col_style;
  float: right;
  border-left-style: none;
  width: $col_base_width;
}

#x_footer{
  @include x_header_footer;
  clear: both;
  padding: 4px;
}

.graybg {
  padding: 3px;
  background-color: #cccccc;
}

#x_header_left {
  float: left;
}

#x_header_right {
  float: right;
}

#x_header_bottom {
  clear: both;
}
