//= require jquery-ui
//= require jcrop

@import 'mobile_base.css.scss';

/* ----- footer ----- */

.footer {
  margin-top: 10px;
  padding: 5px;
  background: darkgray;
}

/* ----- table styling ----- */

.rosterTable tr:nth-child(odd)   { background-color: #9b9b9b;  }
.rosterTable tr:nth-child(even)  { background-color: #ababab;  }
.rosterTable td {
  padding: 8px;
}

/* ----- nav links and dividers ----- */

.xImg {
  border: 0;
  margin: 0;
  padding: 0;
  display: block;
}

.mobileNav {
  @include nav-base2-style;
  @include rounded("5px");
  border: 1px solid black;
  }

.nav {
  @include nav-base-style;
  @include nav-nowrap;
  @include radius;
  border: 1px solid black;
  }

.navbox {
  display: -webkit-box;
  display: -moz-box;
  display: box;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  box-orient: horizontal;
  width: 100%;
}

/* ----- nav styling ----- */

.l_header_nav {
  @include nav-base-style;
  border-top: 1px solid black;
  border-left: 1px solid black;
  border-bottom: 1px solid black;
  text-align: center;
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  box-flex: 1;
}

.r_header_nav {
  @include nav-base-style;
  border: 1px solid black;
  text-align: center;
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  box-flex: 1;
}

.lnav {
  @include nav-base-style;
  @include nav-nowrap;
  @include radius("-top-left");
  @include radius("-bottom-left");

  border-top: 1px solid black;
  border-left: 1px solid black;
  border-bottom: 1px solid black;

  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  box-flex: 1;
}

.rnav {
  @include nav-base-style;
  @include radius("-top-right");
  @include radius("-bottom-right");

  border: 1px solid black;
  text-align: right;
}

.nav:hover, .nav:selected, .nav:visited,
.rnav:hover, .rnav:selected, .rnav:visited,
.lnav:hover, .lnav:selected, .lnav:visited {
  color: black;
}

.divider {
  padding: 5px;
  margin-top: 10px;
  display: block;
  background: black;
  color: white;
}

/* ----- form elements ----- */

.checklist > label {
  display: block;
  background: white;
  border: 1px solid black;
  padding: 10px;
  margin-bottom: 1px;
}

textarea {
  width: 100%;
}

/* ----- one-off styling ----- */

.photo_icon { margin-right: 10px;    }
.selected   { background: lightblue; }

