body, ul, li {
  padding: 0;
  margin:  0;
  border:  0;
}

body {
  text-align: center;
  background: #b0acac;
  font-family: arial, sans-serif;
}

header {
  /*position: absolute;*/
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  height: 55px;
  background: #ff0000;
}

#title {
  width: 100%;
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  display: -moz-box;
  -moz-box-orient: horizontal;
  display: box;
  box-orient: horizontal;
  padding-top: 18px;
  padding-bottom: 15px;
}

#wrapper {
  /*position: absolute;*/
  /*z-index: 1;*/
  /*top: 60px;*/
  /*bottom: 0;*/
  /*left: 0;*/
  /*width: 100%;*/
  /*overflow: auto;*/
}

.content {
  z-index: 1;
}

.bookend {
  text-align: left;
  width: 60px; }

#label {
  text-color: black;
  font-size: 14pt;
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  box-flex: 1; }

#backlink {
  text-align: left; }

.back {
  text-decoration: none;
  color: black;
  border: 1px solid black;
  background: white;
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px; }

.nav {
  text-align: left;
  display: block;
  margin: 0;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 20px;
  text-decoration: none;
  border: 1px solid black;
  background: white;
  color: black;
  border-radius: 15px;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  }

.nav:hover {
  color: black; }

.nav:selected {
  color: black; }

.nav:visted {
  color: black; }

.page {
  text-align: left;
  margin: 0;
  margin-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
}

.page > li {
  list-style-type: none;
}

.data {
  padding: 10px;
}

.sms {
  float: right;
}

.divider {
  padding: 5px;
  margin-top: 20px;
  display: block;
  background: black;
  color: white;
}

.state {
  text-align: center;
  color: gray;
  margin-top: 20px;
}
