@import 'mobile_base.css.scss';

/* ----- footer ----- */

.footer {
  color: gray;
  margin-top: 15px;
}

/* ----- nav links and dividers ----- */

.photo_icon {
  margin-right: 10px;
}

.nav {
  @include nav-base-style;
  @include nav-nowrap;
  @include radius;
  border: 1px solid black;
  }

.navbox {
  display: -webkit-box;
  display: -moz-box;
  display: box;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  box-orient: horizontal;
  width: 100%;
}

.l_header_nav {
  @include nav-base-style;

  border-top: 1px solid black;
  border-left: 1px solid black;
  border-bottom: 1px solid black;
  text-align: center;
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  box-flex: 1;
}

.r_header_nav {
  @include nav-base-style;
  border: 1px solid black;
  text-align: center;
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  box-flex: 1;
}

.selected {
  background: lightblue;
}

.lnav {
  @include nav-base-style;
  @include nav-nowrap;
  @include radius("-top-left");
  @include radius("-bottom-left");

  border-top: 1px solid black;
  border-left: 1px solid black;
  border-bottom: 1px solid black;

  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  box-flex: 1;
}

.rnav {
  @include nav-base-style;
  @include radius("-top-right");
  @include radius("-bottom-right");

  border: 1px solid black;
  text-align: right;
}

.nav:hover, .nav:selected, .nav:visited,
.rnav:hover, .rnav:selected, .rnav:visited,
.lnav:hover, .lnav:selected, .lnav:visited {
  color: black;
}

.divider {
  padding: 5px;
  margin-top: 10px;
  display: block;
  background: black;
  color: white;
}

/* ----- select buttons ----- */
#buttons_nav {
  text-align: center;
  width: 100%;
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  display: -moz-box;
  -moz-box-orient: horizontal;
  display: box;
  box-orient: horizontal;
  padding-bottom: 25px;
  padding-top: 10px;
}

#select_buttons {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  box-flex: 1;
}

#clear_buttons {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  box-flex: 1;
}

#select_buttons > label {
  padding: 10px;
  border: 1px solid black;
}

.sbx {
  display: none;
}

.checked {
  background: purple;
}

.unchecked {
  background: white;
}

#clear_buttons > a {
  padding: 10px;
  border: 1px solid black;
  background: white;
}

.send_btn {
  width: 100%;
  text-align: center;
  font-weight: bold;
  padding: 10px;
  margin-top: 20px;
  font-size: 16px;
}

/* ----- form elements ----- */

