/* 
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
  You can use Sass (SCSS) here: http://sass-lang.com/
*/

.roster_display_photo {
  max-width: 150px;
  max-height: 112px;
}

.roster_icon_photo {
  max-width: 25px;
  max-height: 22px;
}

.handle {
  max-width: 10px;
  max-height: 10px;
}