/* 
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
  You can use Sass (SCSS) here: http://sass-lang.com/
*/

.roster_display_photo {
  max-width:  120px;
  max-height: 120px;
}

.roster_icon_photo {
  max-width: 25px;
  max-height: 22px;
}
