
<div id=x_header>
  <table width=100%>
    <tr>
      <td width=33% align=left><b>BAMRU Registry</b></td>
      <td width=33% align=center></td>
      <td width=33% align=right>
        <a href="/registry">Members</a> |
        <a href="/registry/roles">Roles</a>
      </td>
    </tr>
  </table>
</div>
<div id=x_single_col>

  <table width=100%>
    <tr>
      <td width=30%>
        <b>Alert Subscriptions</b>
      </td>
      <td align=right>
        <span style='font-size: 8pt;'>
          Get an email alert when a change is made.
          Click a cell to create an alert subscription.
          Click again to unsubscribe.
        </span>
      </td>
    </tr>
  </table>
  <table class='tablesorter' style='margin-top: 0;'>
    <%= raw alert_header_row %>
    <%= raw alert_body_rows  %>
  </table>
  <p></p>

</div>
<div id=x_footer style="font-size: 10pt;">
  <table width=100% style="font-size: 10pt;">
    <tr>
      <td align=center>
        Note: Email Generation is still UNDER CONSTRUCTION
      </td>
    </tr>
  </table>
</div>
  