
<div id=x_header>
  <table width=100%>
    <tr>
      <td width=33% align=left><b>BAMRU Member Registry</b></td>
      <td width=33% align=center></td>
      <td width=33% align=right><a href="/registry">Members</a></td>
    </tr>
  </table>
</div>
<div id=x_single_col>

  <p></p>
  <table class='tablesorter'>
    <thead>
    <tr>
      <th>
        Name
      </th>
      <th>
        Role
      </th>
      <th>
        Role Description
      </th>
    </tr>
    </thead>
    <tr>
      <td width=120>John Chang</td>
      <td width=160>
        UL - Unit Leader
      </td>
      <td>
        Unit Leader.
      </td>
    </tr>
    <tr>
      <td>Ethan Frantz</td>
      <td>XO - Executive Officer</td>
      <td>
        Executive Officer
      </td>
    </tr>
    <tr>
      <td>Kyle Barbour</td>
      <td>OO - Operations Officer</td>
      <td>
        Operations Officer
      </td>
    </tr>
    <tr>
      <td>Eszter Tompos</td>
      <td>SEC - Secretary</td>
      <td>
        Secretary
      </td>
    </tr>
    <tr>
      <td>Chris Kantarjiev</td>
      <td>TO - Training Officer</td>
      <td>
        Training Officer
      </td>
    </tr>
    <tr>
      <td>Rachel Farrand</td>
      <td>RO - Recruiting Officer</td>
      <td>
        Recruiting Officer
      </td>
    </tr>
    <tr>
      <td>Cal Hoagland</td>
      <td>TRS - Treasurer</td>
      <td>
        Treasurer
      </td>
    </tr>
  </table>
  <p></p>

</div>
<div id=x_footer style="font-size: 10pt;">
  <table width=100% style="font-size: 10pt;">
    <tr>
      <td>

      </td>
    </tr>
  </table>
</div>
  