<h2>Google Docs Upload</h2>
Your document (<%= @doc_slug %>) is being uploaded into Google Docs.
<p></p>
It can take 30-90 seconds for your document to finish uploading.
<p></p>
Click <a href="http://docs.google.com">here</a> to visit Google Docs.