<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html>
<head>
<title>Database Sync</title>
<meta http-equiv="REFRESH" content="0;url=/gendocs"></HEAD>
<BODY>
    <h1>Roster Sync: Working...</h1>
    <img src='/spinner.gif'></img>
</BODY>
</HTML>
