<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html>
<head>
<title>Roster Sync</title>
<meta http-equiv="REFRESH" content="1;url=/home"></HEAD>
<BODY>
    <h1>Roster Sync Complete...</h1>
    <a href="/home">home</a>
</BODY>
</HTML>
