<h1>Site Maintenance</h1>
<p>
  BAMRU.net is down for <%= reason ? reason : "maintenance" %>
  as of <%= Time.now.strftime("%H:%M %Z") %>.
</p>
<p>
  Sorry for the inconvenience. We'll be back
  <%= deadline ? "by #{deadline}" : "shortly" %>.
</p>
<p>
  Questions/Issues?  Contact Andy ( 650-823-0836 / andy at r210.com )
</p>