<!DOCTYPE html>
<html manifest="/jqm_mobile.manifest">
<head>
  <title>BAMRU Mobile 2</title>
  <link href='<%= raw favicon_file %>' rel='shortcut icon' type='image/vnd.microsoft.icon'/>
  <link rel="stylesheet" href="/stylesheets/jquery.mobile-1.0rc1.css" />
  <%= javascript_include_tag "mobile2/all_mobile2" %>
  <meta name="viewport" content="width=device-width,minimum-scale=1,maximum-scale=1">

  <%= csrf_meta_tag %>
</head>
<body>

<%= yield %>

</body>
</html>
