<div class="note graybg" style='padding:5px;'>

  <B>BAMRU Status Line</B><br>650-858-4618<br>800-888-6423 x8584618<br><br>
  <B>San Mateo County</B><br>Status Line: 650-599-2162<br>Switchboard: 650-363-4000<br>24 Hour Comm: 650-363-4911<br><br>

  <a target="_blank" href="http://wiki.bamru.net/index.php/SMSO_Contacts">SMSO Contacts</a>

</div>