<%= javascript_include_tag "checkbox.js" %>

<div style="text-align:center;">
Static Page (<a href="/members">go to dynamic</a>)
</div>

<form name="roster" action="./" method="post">
<center>
<table width="650">
<tr>
<td>
<table border="0" cellpadding="0" cellspacing="0" width="100%">

<tr>
<td bgcolor="#999999"><font face="Times New Roman,Georgia,Times" color="#313976" size="4" class="headline"><b>
<table border="0" cellpadding="8" cellspacing="1">
<tr>
  <td align="left" class="body" bgcolor="#cccccc">
    <font color="#333333"><B>Team Roster</B></font></td>
  <td align="left" class="body" bgcolor="#cccccc"></td>
</tr>
<tr>

<td rowspan="5" valign="top" bgcolor="white" width="50%">
<font face="Geneva,Arial,Verdana,Helvetica" size="2" class="body"></font><b>
<table cellpadding="0" cellspacing="0">
<tr>
  <td width="51"><font face="Geneva,Arial,Verdana,Helvetica" size="2" class="note" color="#999999"></font></td>
  <td width="8"><img src="/images/page.gif" border=0></td>
  <td width="27" align="center"><img src="/images/mail.gif" border=0></td>
  <td width="178"><font face="Geneva,Arial,Verdana,Helvetica" size="2" class="body"></font></td>
</tr>
<tr>

  <td colspan="9"><img src="/assets/spacer.gif" width="1" height="2"></td>
</tr>
<tr>
  <td colspan="9" bgcolor="#999999"><img src="/assets/spacer.gif" width="1" height="1"></td>
</tr>
<tr>
  <td colspan="9"><img src="/assets/spacer.gif" width="1" height="2"></td>
</tr>

<tr>
  <td width="51"><font face="Geneva,Arial,Verdana,Helvetica" size="2" class="note" color="#999999">R </font></td>
  <td width="8">
    <input type="checkbox" value="1" name="pager_105">
  </td>
  <td width="27" align="center">
    <input type="checkbox" value="1" name="email_105">
  </td>

  <td width="178"><font face="Geneva,Arial,Verdana,Helvetica" size="2" class="body"><b><a href="./?id=105">Cliff Agocs</a></b></font></td>
</tr>
<tr>
  <td colspan="9"><img src="/assets/spacer.gif" width="1" height="2"></td>
</tr>
<tr>
  <td colspan="9" bgcolor="#999999"><img src="/assets/spacer.gif" width="1" height="1"></td>
</tr>

<tr>
  <td colspan="9"><img src="/assets/spacer.gif" width="1" height="2"></td>
</tr>
<tr>
  <td width="51"><font face="Geneva,Arial,Verdana,Helvetica" size="2" class="note" color="#999999">FM OL </font></td>
  <td width="8">
    <input type="checkbox" value="1" name="pager_35">
  </td>

  <td width="27" align="center">
    <input type="checkbox" value="1" name="email_35">
  </td>
  <td width="178"><font face="Geneva,Arial,Verdana,Helvetica" size="2" class="body"><b><a href="./?id=35">Lars Ahntholz</a></b></font></td>
</tr>
<tr>
  <td colspan="9"><img src="/assets/spacer.gif" width="1" height="2"></td>
</tr>

<tr>
  <td colspan="9" bgcolor="#999999"><img src="/assets/spacer.gif" width="1" height="1"></td>
</tr>
<tr>
  <td colspan="9"><img src="/assets/spacer.gif" width="1" height="2"></td>
</tr>
<tr>
  <td width="51"><font face="Geneva,Arial,Verdana,Helvetica" size="2" class="note" color="#999999">T </font></td>

  <td width="8">
    <input type="checkbox" value="1" name="pager_125">
  </td>
  <td width="27" align="center">
    <input type="checkbox" value="1" name="email_125">
  </td>
  <td width="178"><font face="Geneva,Arial,Verdana,Helvetica" size="2" class="body"><b><a href="./?id=125">Kyle Barbour</a></b></font></td>
</tr>

<tr>
  <td colspan="9"><img src="/assets/spacer.gif" width="1" height="2"></td>
</tr>
<tr>
  <td colspan="9" bgcolor="#999999"><img src="/assets/spacer.gif" width="1" height="1"></td>
</tr>
<tr>
  <td colspan="9"><img src="/assets/spacer.gif" width="1" height="2"></td>
</tr>

<tr>
  <td width="51"><font face="Geneva,Arial,Verdana,Helvetica" size="2" class="note" color="#999999">A </font></td>
  <td width="8">
  </td>
  <td width="27" align="center">
    <input type="checkbox" value="1" name="email_24">
  </td>
  <td width="178"><font face="Geneva,Arial,Verdana,Helvetica" size="2" class="body"><b><a href="./?id=24">George Barnes</a></b></font></td>

</tr>
<tr>
  <td colspan="9"><img src="/assets/spacer.gif" width="1" height="2"></td>
</tr>
<tr>
  <td colspan="9" bgcolor="#999999"><img src="/assets/spacer.gif" width="1" height="1"></td>
</tr>
<tr>
  <td colspan="9"><img src="/assets/spacer.gif" width="1" height="2"></td>

</tr>
<tr>
  <td width="51"><font face="Geneva,Arial,Verdana,Helvetica" size="2" class="note" color="#999999">FM </font></td>
  <td width="8">
    <input type="checkbox" value="1" name="pager_3">
  </td>
  <td width="27" align="center">
    <input type="checkbox" value="1" name="email_3">

  </td>
  <td width="178"><font face="Geneva,Arial,Verdana,Helvetica" size="2" class="body"><b><a href="./?id=3">Wayne Behrens</a></b></font></td>
</tr>
<tr>
  <td colspan="9"><img src="/assets/spacer.gif" width="1" height="2"></td>
</tr>
<tr>
  <td colspan="9" bgcolor="#999999"><img src="/assets/spacer.gif" width="1" height="1"></td>

</tr>
<tr>
  <td colspan="9"><img src="/assets/spacer.gif" width="1" height="2"></td>
</tr>
<tr>
  <td width="51"><font face="Geneva,Arial,Verdana,Helvetica" size="2" class="note" color="#999999">R </font></td>
  <td width="8">
  </td>

  <td width="27" align="center">
    <input type="checkbox" value="1" name="email_77">
  </td>
  <td width="178"><font face="Geneva,Arial,Verdana,Helvetica" size="2" class="body"><b><a href="./?id=77">Cris Benner</a></b></font></td>
</tr>
<tr>
  <td colspan="9"><img src="/assets/spacer.gif" width="1" height="2"></td>
</tr>

<tr>
  <td colspan="9" bgcolor="#999999"><img src="/assets/spacer.gif" width="1" height="1"></td>
</tr>
<tr>
  <td colspan="9"><img src="/assets/spacer.gif" width="1" height="2"></td>
</tr>
<tr>
  <td width="51"><font face="Geneva,Arial,Verdana,Helvetica" size="2" class="note" color="#999999">T </font></td>

  <td width="8">
    <input type="checkbox" value="1" name="pager_124">
  </td>
  <td width="27" align="center">
    <input type="checkbox" value="1" name="email_124">
  </td>
  <td width="178"><font face="Geneva,Arial,Verdana,Helvetica" size="2" class="body"><b><a href="./?id=124">Kito Berg-Taylor</a></b></font></td>
</tr>

<tr>
  <td colspan="9"><img src="/assets/spacer.gif" width="1" height="2"></td>
</tr>
<tr>
  <td colspan="9" bgcolor="#999999"><img src="/assets/spacer.gif" width="1" height="1"></td>
</tr>
<tr>
  <td colspan="9"><img src="/assets/spacer.gif" width="1" height="2"></td>
</tr>

<tr>
  <td width="51"><font face="Geneva,Arial,Verdana,Helvetica" size="2" class="note" color="#999999">R </font></td>
  <td width="8">
    <input type="checkbox" value="1" name="pager_69">
  </td>
  <td width="27" align="center">
    <input type="checkbox" value="1" name="email_69">
  </td>

  <td width="178"><font face="Geneva,Arial,Verdana,Helvetica" size="2" class="body"><b><a href="./?id=69">Leonard Brzezinski</a></b></font></td>
</tr>
<tr>
  <td colspan="9"><img src="/assets/spacer.gif" width="1" height="2"></td>
</tr>
<tr>
  <td colspan="9" bgcolor="#999999"><img src="/assets/spacer.gif" width="1" height="1"></td>
</tr>

<tr>
  <td colspan="9"><img src="/assets/spacer.gif" width="1" height="2"></td>
</tr>
<tr>
  <td width="51"><font face="Geneva,Arial,Verdana,Helvetica" size="2" class="note" color="#999999">T </font></td>
  <td width="8">
    <input type="checkbox" value="1" name="pager_111">
  </td>

  <td width="27" align="center">
    <input type="checkbox" value="1" name="email_111">
  </td>
  <td width="178"><font face="Geneva,Arial,Verdana,Helvetica" size="2" class="body"><b><a href="./?id=111">PJ Callery</a></b></font></td>
</tr>
<tr>
  <td colspan="9"><img src="/assets/spacer.gif" width="1" height="2"></td>
</tr>

<tr>
  <td colspan="9" bgcolor="#999999"><img src="/assets/spacer.gif" width="1" height="1"></td>
</tr>
<tr>
  <td colspan="9"><img src="/assets/spacer.gif" width="1" height="2"></td>
</tr>
<tr>
  <td width="51"><font face="Geneva,Arial,Verdana,Helvetica" size="2" class="note" color="#999999">A </font></td>

  <td width="8">
    <input type="checkbox" value="1" name="pager_19">
  </td>
  <td width="27" align="center">
    <input type="checkbox" value="1" name="email_19">
  </td>
  <td width="178"><font face="Geneva,Arial,Verdana,Helvetica" size="2" class="body"><b><a href="./?id=19">John Carnes</a></b></font></td>
</tr>

<tr>
  <td colspan="9"><img src="/assets/spacer.gif" width="1" height="2"></td>
</tr>
<tr>
  <td colspan="9" bgcolor="#999999"><img src="/assets/spacer.gif" width="1" height="1"></td>
</tr>
<tr>
  <td colspan="9"><img src="/assets/spacer.gif" width="1" height="2"></td>
</tr>

<tr>
  <td width="51"><font face="Geneva,Arial,Verdana,Helvetica" size="2" class="note" color="#999999">FM OL </font></td>
  <td width="8">
    <input type="checkbox" value="1" name="pager_26">
  </td>
  <td width="27" align="center">
    <input type="checkbox" value="1" name="email_26">
  </td>

  <td width="178"><font face="Geneva,Arial,Verdana,Helvetica" size="2" class="body"><b><a href="./?id=26">Marco Cavalieri</a></b></font></td>
</tr>
<tr>
  <td colspan="9"><img src="/assets/spacer.gif" width="1" height="2"></td>
</tr>
<tr>
  <td colspan="9" bgcolor="#999999"><img src="/assets/spacer.gif" width="1" height="1"></td>
</tr>

<tr>
  <td colspan="9"><img src="/assets/spacer.gif" width="1" height="2"></td>
</tr>
<tr>
  <td width="51"><font face="Geneva,Arial,Verdana,Helvetica" size="2" class="note" color="#999999">TM Bd OL </font></td>
  <td width="8">
    <input type="checkbox" value="1" name="pager_22">
  </td>

  <td width="27" align="center">
    <input type="checkbox" value="1" name="email_22">
  </td>
  <td width="178"><font face="Geneva,Arial,Verdana,Helvetica" size="2" class="body"><b><a href="./?id=22">John Chang</a></b></font></td>
</tr>
<tr>
  <td colspan="9"><img src="/assets/spacer.gif" width="1" height="2"></td>
</tr>

<tr>
  <td colspan="9" bgcolor="#999999"><img src="/assets/spacer.gif" width="1" height="1"></td>
</tr>
<tr>
  <td colspan="9"><img src="/assets/spacer.gif" width="1" height="2"></td>
</tr>
<tr>
  <td width="51"><font face="Geneva,Arial,Verdana,Helvetica" size="2" class="note" color="#999999">S </font></td>

  <td width="8">
  </td>
  <td width="27" align="center">
  </td>
  <td width="178"><font face="Geneva,Arial,Verdana,Helvetica" size="2" class="body"><b><a href="./?id=123">Emilie Cortez</a></b></font></td>
</tr>
<tr>
  <td colspan="9"><img src="/assets/spacer.gif" width="1" height="2"></td>

</tr>
<tr>
  <td colspan="9" bgcolor="#999999"><img src="/assets/spacer.gif" width="1" height="1"></td>
</tr>
<tr>
  <td colspan="9"><img src="/assets/spacer.gif" width="1" height="2"></td>
</tr>
<tr>
  <td width="51"><font face="Geneva,Arial,Verdana,Helvetica" size="2" class="note" color="#999999">R </font></td>

  <td width="8">
    <input type="checkbox" value="1" name="pager_76">
  </td>
  <td width="27" align="center">
    <input type="checkbox" value="1" name="email_76">
  </td>
  <td width="178"><font face="Geneva,Arial,Verdana,Helvetica" size="2" class="body"><b><a href="./?id=76">Kate Cowley</a></b></font></td>
</tr>

<tr>
  <td colspan="9"><img src="/assets/spacer.gif" width="1" height="2"></td>
</tr>
<tr>
  <td colspan="9" bgcolor="#999999"><img src="/assets/spacer.gif" width="1" height="1"></td>
</tr>
<tr>
  <td colspan="9"><img src="/assets/spacer.gif" width="1" height="2"></td>
</tr>

<tr>
  <td width="51"><font face="Geneva,Arial,Verdana,Helvetica" size="2" class="note" color="#999999">T </font></td>
  <td width="8">
    <input type="checkbox" value="1" name="pager_88">
  </td>
  <td width="27" align="center">
    <input type="checkbox" value="1" name="email_88">
  </td>

  <td width="178"><font face="Geneva,Arial,Verdana,Helvetica" size="2" class="body"><b><a href="./?id=88">James Cutsinger</a></b></font></td>
</tr>
<tr>
  <td colspan="9"><img src="/assets/spacer.gif" width="1" height="2"></td>
</tr>
<tr>
  <td colspan="9" bgcolor="#999999"><img src="/assets/spacer.gif" width="1" height="1"></td>
</tr>

<tr>
  <td colspan="9"><img src="/assets/spacer.gif" width="1" height="2"></td>
</tr>
<tr>
  <td width="51"><font face="Geneva,Arial,Verdana,Helvetica" size="2" class="note" color="#999999">T </font></td>
  <td width="8">
    <input type="checkbox" value="1" name="pager_104">
  </td>

  <td width="27" align="center">
    <input type="checkbox" value="1" name="email_104">
  </td>
  <td width="178"><font face="Geneva,Arial,Verdana,Helvetica" size="2" class="body"><b><a href="./?id=104">Ed Daley</a></b></font></td>
</tr>
<tr>
  <td colspan="9"><img src="/assets/spacer.gif" width="1" height="2"></td>
</tr>

<tr>
  <td colspan="9" bgcolor="#999999"><img src="/assets/spacer.gif" width="1" height="1"></td>
</tr>
<tr>
  <td colspan="9"><img src="/assets/spacer.gif" width="1" height="2"></td>
</tr>
<tr>
  <td width="51"><font face="Geneva,Arial,Verdana,Helvetica" size="2" class="note" color="#999999">FM Bd OL </font></td>

  <td width="8">
    <input type="checkbox" value="1" name="pager_92">
  </td>
  <td width="27" align="center">
    <input type="checkbox" value="1" name="email_92">
  </td>
  <td width="178"><font face="Geneva,Arial,Verdana,Helvetica" size="2" class="body"><b><a href="./?id=92">Charles Dimmler</a></b></font></td>
</tr>

<tr>
  <td colspan="9"><img src="/assets/spacer.gif" width="1" height="2"></td>
</tr>
<tr>
  <td colspan="9" bgcolor="#999999"><img src="/assets/spacer.gif" width="1" height="1"></td>
</tr>
<tr>
  <td colspan="9"><img src="/assets/spacer.gif" width="1" height="2"></td>
</tr>

<tr>
  <td width="51"><font face="Geneva,Arial,Verdana,Helvetica" size="2" class="note" color="#999999">FM </font></td>
  <td width="8">
  </td>
  <td width="27" align="center">
    <input type="checkbox" value="1" name="email_32">
  </td>
  <td width="178"><font face="Geneva,Arial,Verdana,Helvetica" size="2" class="body"><b><a href="./?id=32">Mark Elston</a></b></font></td>

</tr>
<tr>
  <td colspan="9"><img src="/assets/spacer.gif" width="1" height="2"></td>
</tr>
<tr>
  <td colspan="9" bgcolor="#999999"><img src="/assets/spacer.gif" width="1" height="1"></td>
</tr>
<tr>
  <td colspan="9"><img src="/assets/spacer.gif" width="1" height="2"></td>

</tr>
<tr>
  <td width="51"><font face="Geneva,Arial,Verdana,Helvetica" size="2" class="note" color="#999999">T </font></td>
  <td width="8">
    <input type="checkbox" value="1" name="pager_127">
  </td>
  <td width="27" align="center">
    <input type="checkbox" value="1" name="email_127">

  </td>
  <td width="178"><font face="Geneva,Arial,Verdana,Helvetica" size="2" class="body"><b><a href="./?id=127">Rachel Farrand</a></b></font></td>
</tr>
<tr>
  <td colspan="9"><img src="/assets/spacer.gif" width="1" height="2"></td>
</tr>
<tr>
  <td colspan="9" bgcolor="#999999"><img src="/assets/spacer.gif" width="1" height="1"></td>

</tr>
<tr>
  <td colspan="9"><img src="/assets/spacer.gif" width="1" height="2"></td>
</tr>
<tr>
  <td width="51"><font face="Geneva,Arial,Verdana,Helvetica" size="2" class="note" color="#999999">A </font></td>
  <td width="8">
  </td>

  <td width="27" align="center">
    <input type="checkbox" value="1" name="email_75">
  </td>
  <td width="178"><font face="Geneva,Arial,Verdana,Helvetica" size="2" class="body"><b><a href="./?id=75">Dep. Jim Farrell</a></b></font></td>
</tr>
<tr>
  <td colspan="9"><img src="/assets/spacer.gif" width="1" height="2"></td>
</tr>

<tr>
  <td colspan="9" bgcolor="#999999"><img src="/assets/spacer.gif" width="1" height="1"></td>
</tr>
<tr>
  <td colspan="9"><img src="/assets/spacer.gif" width="1" height="2"></td>
</tr>
<tr>
  <td width="51"><font face="Geneva,Arial,Verdana,Helvetica" size="2" class="note" color="#999999">FM OL </font></td>

  <td width="8">
    <input type="checkbox" value="1" name="pager_94">
  </td>
  <td width="27" align="center">
    <input type="checkbox" value="1" name="email_94">
  </td>
  <td width="178"><font face="Geneva,Arial,Verdana,Helvetica" size="2" class="body"><b><a href="./?id=94">Ethan Frantz</a></b></font></td>
</tr>

<tr>
  <td colspan="9"><img src="/assets/spacer.gif" width="1" height="2"></td>
</tr>
<tr>
  <td colspan="9" bgcolor="#999999"><img src="/assets/spacer.gif" width="1" height="1"></td>
</tr>
<tr>
  <td colspan="9"><img src="/assets/spacer.gif" width="1" height="2"></td>
</tr>

<tr>
  <td width="51"><font face="Geneva,Arial,Verdana,Helvetica" size="2" class="note" color="#999999">T </font></td>
  <td width="8">
    <input type="checkbox" value="1" name="pager_122">
  </td>
  <td width="27" align="center">
    <input type="checkbox" value="1" name="email_122">
  </td>

  <td width="178"><font face="Geneva,Arial,Verdana,Helvetica" size="2" class="body"><b><a href="./?id=122">Adam Garcia</a></b></font></td>
</tr>
<tr>
  <td colspan="9"><img src="/assets/spacer.gif" width="1" height="2"></td>
</tr>
<tr>
  <td colspan="9" bgcolor="#999999"><img src="/assets/spacer.gif" width="1" height="1"></td>
</tr>

<tr>
  <td colspan="9"><img src="/assets/spacer.gif" width="1" height="2"></td>
</tr>
<tr>
  <td width="51"><font face="Geneva,Arial,Verdana,Helvetica" size="2" class="note" color="#999999">T </font></td>
  <td width="8">
    <input type="checkbox" value="1" name="pager_112">
  </td>

  <td width="27" align="center">
    <input type="checkbox" value="1" name="email_112">
  </td>
  <td width="178"><font face="Geneva,Arial,Verdana,Helvetica" size="2" class="body"><b><a href="./?id=112">Emily Ghio</a></b></font></td>
</tr>
<tr>
  <td colspan="9"><img src="/assets/spacer.gif" width="1" height="2"></td>
</tr>

<tr>
  <td colspan="9" bgcolor="#999999"><img src="/assets/spacer.gif" width="1" height="1"></td>
</tr>
<tr>
  <td colspan="9"><img src="/assets/spacer.gif" width="1" height="2"></td>
</tr>
<tr>
  <td width="51"><font face="Geneva,Arial,Verdana,Helvetica" size="2" class="note" color="#999999">T </font></td>

  <td width="8">
  </td>
  <td width="27" align="center">
    <input type="checkbox" value="1" name="email_119">
  </td>
  <td width="178"><font face="Geneva,Arial,Verdana,Helvetica" size="2" class="body"><b><a href="./?id=119">Will Gilmore</a></b></font></td>
</tr>
<tr>

  <td colspan="9"><img src="/assets/spacer.gif" width="1" height="2"></td>
</tr>
<tr>
  <td colspan="9" bgcolor="#999999"><img src="/assets/spacer.gif" width="1" height="1"></td>
</tr>
<tr>
  <td colspan="9"><img src="/assets/spacer.gif" width="1" height="2"></td>
</tr>
<tr>

  <td width="51"><font face="Geneva,Arial,Verdana,Helvetica" size="2" class="note" color="#999999">T </font></td>
  <td width="8">
    <input type="checkbox" value="1" name="pager_113">
  </td>
  <td width="27" align="center">
    <input type="checkbox" value="1" name="email_113">
  </td>
  <td width="178"><font face="Geneva,Arial,Verdana,Helvetica" size="2" class="body"><b><a href="./?id=113">Blake Gleason</a></b></font></td>

</tr>
<tr>
  <td colspan="9"><img src="/assets/spacer.gif" width="1" height="2"></td>
</tr>
<tr>
  <td colspan="9" bgcolor="#999999"><img src="/assets/spacer.gif" width="1" height="1"></td>
</tr>
<tr>
  <td colspan="9"><img src="/assets/spacer.gif" width="1" height="2"></td>

</tr>
<tr>
  <td width="51"><font face="Geneva,Arial,Verdana,Helvetica" size="2" class="note" color="#999999">R </font></td>
  <td width="8">
    <input type="checkbox" value="1" name="pager_89">
  </td>
  <td width="27" align="center">
    <input type="checkbox" value="1" name="email_89">

  </td>
  <td width="178"><font face="Geneva,Arial,Verdana,Helvetica" size="2" class="body"><b><a href="./?id=89">Michael Gregg</a></b></font></td>
</tr>
<tr>
  <td colspan="9"><img src="/assets/spacer.gif" width="1" height="2"></td>
</tr>
<tr>
  <td colspan="9" bgcolor="#999999"><img src="/assets/spacer.gif" width="1" height="1"></td>

</tr>
<tr>
  <td colspan="9"><img src="/assets/spacer.gif" width="1" height="2"></td>
</tr>
<tr>
  <td width="51"><font face="Geneva,Arial,Verdana,Helvetica" size="2" class="note" color="#999999">T </font></td>
  <td width="8">
    <input type="checkbox" value="1" name="pager_107">

  </td>
  <td width="27" align="center">
    <input type="checkbox" value="1" name="email_107">
  </td>
  <td width="178"><font face="Geneva,Arial,Verdana,Helvetica" size="2" class="body"><b><a href="./?id=107">Kurt Gross</a></b></font></td>
</tr>
<tr>
  <td colspan="9"><img src="/assets/spacer.gif" width="1" height="2"></td>

</tr>
<tr>
  <td colspan="9" bgcolor="#999999"><img src="/assets/spacer.gif" width="1" height="1"></td>
</tr>
<tr>
  <td colspan="9"><img src="/assets/spacer.gif" width="1" height="2"></td>
</tr>
<tr>
  <td width="51"><font face="Geneva,Arial,Verdana,Helvetica" size="2" class="note" color="#999999">TM OL </font></td>

  <td width="8">
  </td>
  <td width="27" align="center">
    <input type="checkbox" value="1" name="email_30">
  </td>
  <td width="178"><font face="Geneva,Arial,Verdana,Helvetica" size="2" class="body"><b><a href="./?id=30">Tom Grossman</a></b></font></td>
</tr>
<tr>

  <td colspan="9"><img src="/assets/spacer.gif" width="1" height="2"></td>
</tr>
<tr>
  <td colspan="9" bgcolor="#999999"><img src="/assets/spacer.gif" width="1" height="1"></td>
</tr>
<tr>
  <td colspan="9"><img src="/assets/spacer.gif" width="1" height="2"></td>
</tr>
<tr>

  <td width="51"><font face="Geneva,Arial,Verdana,Helvetica" size="2" class="note" color="#999999">R </font></td>
  <td width="8">
    <input type="checkbox" value="1" name="pager_34">
  </td>
  <td width="27" align="center">
    <input type="checkbox" value="1" name="email_34">
  </td>
  <td width="178"><font face="Geneva,Arial,Verdana,Helvetica" size="2" class="body"><b><a href="./?id=34">Denise Hart</a></b></font></td>

</tr>
<tr>
  <td colspan="9"><img src="/assets/spacer.gif" width="1" height="2"></td>
</tr>
<tr>
  <td colspan="9" bgcolor="#999999"><img src="/assets/spacer.gif" width="1" height="1"></td>
</tr>
<tr>
  <td colspan="9"><img src="/assets/spacer.gif" width="1" height="2"></td>

</tr>
<tr>
  <td width="51"><font face="Geneva,Arial,Verdana,Helvetica" size="2" class="note" color="#999999">FM OL </font></td>
  <td width="8">
    <input type="checkbox" value="1" name="pager_65">
  </td>
  <td width="27" align="center">
    <input type="checkbox" value="1" name="email_65">

  </td>
  <td width="178"><font face="Geneva,Arial,Verdana,Helvetica" size="2" class="body"><b><a href="./?id=65">Martha Hazel</a></b></font></td>
</tr>
<tr>
  <td colspan="9"><img src="/assets/spacer.gif" width="1" height="2"></td>
</tr>
<tr>
  <td colspan="9" bgcolor="#999999"><img src="/assets/spacer.gif" width="1" height="1"></td>

</tr>
<tr>
  <td colspan="9"><img src="/assets/spacer.gif" width="1" height="2"></td>
</tr>
<tr>
  <td width="51"><font face="Geneva,Arial,Verdana,Helvetica" size="2" class="note" color="#999999">TM OL </font></td>
  <td width="8">
    <input type="checkbox" value="1" name="pager_11">

  </td>
  <td width="27" align="center">
    <input type="checkbox" value="1" name="email_11">
  </td>
  <td width="178"><font face="Geneva,Arial,Verdana,Helvetica" size="2" class="body"><b><a href="./?id=11">Dan Herman</a></b></font></td>
</tr>
<tr>
  <td colspan="9"><img src="/assets/spacer.gif" width="1" height="2"></td>

</tr>
<tr>
  <td colspan="9" bgcolor="#999999"><img src="/assets/spacer.gif" width="1" height="1"></td>
</tr>
<tr>
  <td colspan="9"><img src="/assets/spacer.gif" width="1" height="2"></td>
</tr>
<tr>
  <td width="51"><font face="Geneva,Arial,Verdana,Helvetica" size="2" class="note" color="#999999">FM Bd OL </font></td>

  <td width="8">
    <input type="checkbox" value="1" name="pager_87">
  </td>
  <td width="27" align="center">
    <input type="checkbox" value="1" name="email_87">
  </td>
  <td width="178"><font face="Geneva,Arial,Verdana,Helvetica" size="2" class="body"><b><a href="./?id=87">Cal Hoagland</a></b></font></td>
</tr>

<tr>
  <td colspan="9"><img src="/assets/spacer.gif" width="1" height="2"></td>
</tr>
<tr>
  <td colspan="9" bgcolor="#999999"><img src="/assets/spacer.gif" width="1" height="1"></td>
</tr>
<tr>
  <td colspan="9"><img src="/assets/spacer.gif" width="1" height="2"></td>
</tr>

<tr>
  <td width="51"><font face="Geneva,Arial,Verdana,Helvetica" size="2" class="note" color="#999999">T </font></td>
  <td width="8">
    <input type="checkbox" value="1" name="pager_116">
  </td>
  <td width="27" align="center">
    <input type="checkbox" value="1" name="email_116">
  </td>

  <td width="178"><font face="Geneva,Arial,Verdana,Helvetica" size="2" class="body"><b><a href="./?id=116">Woody Hoburg</a></b></font></td>
</tr>
<tr>
  <td colspan="9"><img src="/assets/spacer.gif" width="1" height="2"></td>
</tr>
<tr>
  <td colspan="9" bgcolor="#999999"><img src="/assets/spacer.gif" width="1" height="1"></td>
</tr>

<tr>
  <td colspan="9"><img src="/assets/spacer.gif" width="1" height="2"></td>
</tr>
<tr>
  <td width="51"><font face="Geneva,Arial,Verdana,Helvetica" size="2" class="note" color="#999999">A </font></td>
  <td width="8">
  </td>
  <td width="27" align="center">

    <input type="checkbox" value="1" name="email_1">
  </td>
  <td width="178"><font face="Geneva,Arial,Verdana,Helvetica" size="2" class="body"><b><a href="./?id=1">Shane Iseminger</a></b></font></td>
</tr>
<tr>
  <td colspan="9"><img src="/assets/spacer.gif" width="1" height="2"></td>
</tr>
<tr>

  <td colspan="9" bgcolor="#999999"><img src="/assets/spacer.gif" width="1" height="1"></td>
</tr>
<tr>
  <td colspan="9"><img src="/assets/spacer.gif" width="1" height="2"></td>
</tr>
<tr>
  <td width="51"><font face="Geneva,Arial,Verdana,Helvetica" size="2" class="note" color="#999999">T </font></td>
  <td width="8">

    <input type="checkbox" value="1" name="pager_95">
  </td>
  <td width="27" align="center">
    <input type="checkbox" value="1" name="email_95">
  </td>
  <td width="178"><font face="Geneva,Arial,Verdana,Helvetica" size="2" class="body"><b><a href="./?id=95">Matt Jacobs</a></b></font></td>
</tr>
<tr>

  <td colspan="9"><img src="/assets/spacer.gif" width="1" height="2"></td>
</tr>
<tr>
  <td colspan="9" bgcolor="#999999"><img src="/assets/spacer.gif" width="1" height="1"></td>
</tr>
<tr>
  <td colspan="9"><img src="/assets/spacer.gif" width="1" height="2"></td>
</tr>
<tr>

  <td width="51"><font face="Geneva,Arial,Verdana,Helvetica" size="2" class="note" color="#999999">TM </font></td>
  <td width="8">
    <input type="checkbox" value="1" name="pager_100">
  </td>
  <td width="27" align="center">
    <input type="checkbox" value="1" name="email_100">
  </td>
  <td width="178"><font face="Geneva,Arial,Verdana,Helvetica" size="2" class="body"><b><a href="./?id=100">Sarah Jensen</a></b></font></td>

</tr>
<tr>
  <td colspan="9"><img src="/assets/spacer.gif" width="1" height="2"></td>
</tr>
<tr>
  <td colspan="9" bgcolor="#999999"><img src="/assets/spacer.gif" width="1" height="1"></td>
</tr>
<tr>
  <td colspan="9"><img src="/assets/spacer.gif" width="1" height="2"></td>

</tr>
<tr>
  <td width="51"><font face="Geneva,Arial,Verdana,Helvetica" size="2" class="note" color="#999999">FM OL </font></td>
  <td width="8">
    <input type="checkbox" value="1" name="pager_103">
  </td>
  <td width="27" align="center">
    <input type="checkbox" value="1" name="email_103">

  </td>
  <td width="178"><font face="Geneva,Arial,Verdana,Helvetica" size="2" class="body"><b><a href="./?id=103">Chris Kantarjiev</a></b></font></td>
</tr>
<tr>
  <td colspan="9"><img src="/assets/spacer.gif" width="1" height="2"></td>
</tr>
<tr>
  <td colspan="9" bgcolor="#999999"><img src="/assets/spacer.gif" width="1" height="1"></td>

</tr>
<tr>
  <td colspan="9"><img src="/assets/spacer.gif" width="1" height="2"></td>
</tr>
<tr>
  <td width="51"><font face="Geneva,Arial,Verdana,Helvetica" size="2" class="note" color="#999999">R </font></td>
  <td width="8">
    <input type="checkbox" value="1" name="pager_5">

  </td>
  <td width="27" align="center">
  </td>
  <td width="178"><font face="Geneva,Arial,Verdana,Helvetica" size="2" class="body"><b><a href="./?id=5">Jane Koski</a></b></font></td>
</tr>
<tr>
  <td colspan="9"><img src="/assets/spacer.gif" width="1" height="2"></td>
</tr>

<tr>
  <td colspan="9" bgcolor="#999999"><img src="/assets/spacer.gif" width="1" height="1"></td>
</tr>
<tr>
  <td colspan="9"><img src="/assets/spacer.gif" width="1" height="2"></td>
</tr>
<tr>
  <td width="51"><font face="Geneva,Arial,Verdana,Helvetica" size="2" class="note" color="#999999">R </font></td>

  <td width="8">
    <input type="checkbox" value="1" name="pager_41">
  </td>
  <td width="27" align="center">
    <input type="checkbox" value="1" name="email_41">
  </td>
  <td width="178"><font face="Geneva,Arial,Verdana,Helvetica" size="2" class="body"><b><a href="./?id=41">Martin Lanner</a></b></font></td>
</tr>

<tr>
  <td colspan="9"><img src="/assets/spacer.gif" width="1" height="2"></td>
</tr>
<tr>
  <td colspan="9" bgcolor="#999999"><img src="/assets/spacer.gif" width="1" height="1"></td>
</tr>
<tr>
  <td colspan="9"><img src="/assets/spacer.gif" width="1" height="2"></td>
</tr>

<tr>
  <td width="51"><font face="Geneva,Arial,Verdana,Helvetica" size="2" class="note" color="#999999">TM OL </font></td>
  <td width="8">
    <input type="checkbox" value="1" name="pager_20">
  </td>
  <td width="27" align="center">
    <input type="checkbox" value="1" name="email_20">
  </td>

  <td width="178"><font face="Geneva,Arial,Verdana,Helvetica" size="2" class="body"><b><a href="./?id=20">Tom Lass</a></b></font></td>
</tr>
<tr>
  <td colspan="9"><img src="/assets/spacer.gif" width="1" height="2"></td>
</tr>
<tr>
  <td colspan="9" bgcolor="#999999"><img src="/assets/spacer.gif" width="1" height="1"></td>
</tr>

<tr>
  <td colspan="9"><img src="/assets/spacer.gif" width="1" height="2"></td>
</tr>
<tr>
  <td width="51"><font face="Geneva,Arial,Verdana,Helvetica" size="2" class="note" color="#999999">FM </font></td>
  <td width="8">
  </td>
  <td width="27" align="center">

    <input type="checkbox" value="1" name="email_71">
  </td>
  <td width="178"><font face="Geneva,Arial,Verdana,Helvetica" size="2" class="body"><b><a href="./?id=71">Andy Leak</a></b></font></td>
</tr>
<tr>
  <td colspan="9"><img src="/assets/spacer.gif" width="1" height="2"></td>
</tr>
<tr>

  <td colspan="9" bgcolor="#999999"><img src="/assets/spacer.gif" width="1" height="1"></td>
</tr>
<tr>
  <td colspan="9"><img src="/assets/spacer.gif" width="1" height="2"></td>
</tr>
<tr>
  <td width="51"><font face="Geneva,Arial,Verdana,Helvetica" size="2" class="note" color="#999999">T </font></td>
  <td width="8">

    <input type="checkbox" value="1" name="pager_114">
  </td>
  <td width="27" align="center">
    <input type="checkbox" value="1" name="email_114">
  </td>
  <td width="178"><font face="Geneva,Arial,Verdana,Helvetica" size="2" class="body"><b><a href="./?id=114">Eric Leong</a></b></font></td>
</tr>
<tr>

  <td colspan="9"><img src="/assets/spacer.gif" width="1" height="2"></td>
</tr>
<tr>
  <td colspan="9" bgcolor="#999999"><img src="/assets/spacer.gif" width="1" height="1"></td>
</tr>
<tr>
  <td colspan="9"><img src="/assets/spacer.gif" width="1" height="2"></td>
</tr>
<tr>

  <td width="51"><font face="Geneva,Arial,Verdana,Helvetica" size="2" class="note" color="#999999">T </font></td>
  <td width="8">
    <input type="checkbox" value="1" name="pager_115">
  </td>
  <td width="27" align="center">
    <input type="checkbox" value="1" name="email_115">
  </td>
  <td width="178"><font face="Geneva,Arial,Verdana,Helvetica" size="2" class="body"><b><a href="./?id=115">MacRae Linton</a></b></font></td>

</tr>
<tr>
  <td colspan="9"><img src="/assets/spacer.gif" width="1" height="2"></td>
</tr>
<tr>
  <td colspan="9" bgcolor="#999999"><img src="/assets/spacer.gif" width="1" height="1"></td>
</tr>
<tr>
  <td colspan="9"><img src="/assets/spacer.gif" width="1" height="2"></td>

</tr>
<tr>
  <td width="51"><font face="Geneva,Arial,Verdana,Helvetica" size="2" class="note" color="#999999">FM Bd OL </font></td>
  <td width="8">
    <input type="checkbox" value="1" name="pager_79">
  </td>
  <td width="27" align="center">
    <input type="checkbox" value="1" name="email_79">

  </td>
  <td width="178"><font face="Geneva,Arial,Verdana,Helvetica" size="2" class="body"><b><a href="./?id=79">Colin Little</a></b></font></td>
</tr>
<tr>
  <td colspan="9"><img src="/assets/spacer.gif" width="1" height="2"></td>
</tr>
<tr>
  <td colspan="9" bgcolor="#999999"><img src="/assets/spacer.gif" width="1" height="1"></td>

</tr>
<tr>
  <td colspan="9"><img src="/assets/spacer.gif" width="1" height="2"></td>
</tr>
<tr>
  <td width="51"><font face="Geneva,Arial,Verdana,Helvetica" size="2" class="note" color="#999999">T </font></td>
  <td width="8">
    <input type="checkbox" value="1" name="pager_121">

  </td>
  <td width="27" align="center">
    <input type="checkbox" value="1" name="email_121">
  </td>
  <td width="178"><font face="Geneva,Arial,Verdana,Helvetica" size="2" class="body"><b><a href="./?id=121">Jim Lohr</a></b></font></td>
</tr>
<tr>
  <td colspan="9"><img src="/assets/spacer.gif" width="1" height="2"></td>

</tr>
<tr>
  <td colspan="9" bgcolor="#999999"><img src="/assets/spacer.gif" width="1" height="1"></td>
</tr>
<tr>
  <td colspan="9"><img src="/assets/spacer.gif" width="1" height="2"></td>
</tr>
<tr>
  <td width="51"><font face="Geneva,Arial,Verdana,Helvetica" size="2" class="note" color="#999999">FM Bd OL </font></td>

  <td width="8">
    <input type="checkbox" value="1" name="pager_82">
  </td>
  <td width="27" align="center">
    <input type="checkbox" value="1" name="email_82">
  </td>
  <td width="178"><font face="Geneva,Arial,Verdana,Helvetica" size="2" class="body"><b><a href="./?id=82">Shannon Lucas</a></b></font></td>
</tr>

<tr>
  <td colspan="9"><img src="/assets/spacer.gif" width="1" height="2"></td>
</tr>
<tr>
  <td colspan="9" bgcolor="#999999"><img src="/assets/spacer.gif" width="1" height="1"></td>
</tr>
<tr>
  <td colspan="9"><img src="/assets/spacer.gif" width="1" height="2"></td>
</tr>

<tr>
  <td width="51"><font face="Geneva,Arial,Verdana,Helvetica" size="2" class="note" color="#999999">T </font></td>
  <td width="8">
    <input type="checkbox" value="1" name="pager_109">
  </td>
  <td width="27" align="center">
    <input type="checkbox" value="1" name="email_109">
  </td>

  <td width="178"><font face="Geneva,Arial,Verdana,Helvetica" size="2" class="body"><b><a href="./?id=109">John Mandish</a></b></font></td>
</tr>
<tr>
  <td colspan="9"><img src="/assets/spacer.gif" width="1" height="2"></td>
</tr>
<tr>
  <td colspan="9" bgcolor="#999999"><img src="/assets/spacer.gif" width="1" height="1"></td>
</tr>

<tr>
  <td colspan="9"><img src="/assets/spacer.gif" width="1" height="2"></td>
</tr>
<tr>
  <td width="51"><font face="Geneva,Arial,Verdana,Helvetica" size="2" class="note" color="#999999">TM OL </font></td>
  <td width="8">
    <input type="checkbox" value="1" name="pager_78">
  </td>

  <td width="27" align="center">
    <input type="checkbox" value="1" name="email_78">
  </td>
  <td width="178"><font face="Geneva,Arial,Verdana,Helvetica" size="2" class="body"><b><a href="./?id=78">Lucas Marciniak</a></b></font></td>
</tr>
<tr>
  <td colspan="9"><img src="/assets/spacer.gif" width="1" height="2"></td>
</tr>

<tr>
  <td colspan="9" bgcolor="#999999"><img src="/assets/spacer.gif" width="1" height="1"></td>
</tr>
<tr>
  <td colspan="9"><img src="/assets/spacer.gif" width="1" height="2"></td>
</tr>
<tr>
  <td width="51"><font face="Geneva,Arial,Verdana,Helvetica" size="2" class="note" color="#999999">R </font></td>

  <td width="8">
  </td>
  <td width="27" align="center">
    <input type="checkbox" value="1" name="email_67">
  </td>
  <td width="178"><font face="Geneva,Arial,Verdana,Helvetica" size="2" class="body"><b><a href="./?id=67">Raoul Martin</a></b></font></td>
</tr>
<tr>

  <td colspan="9"><img src="/assets/spacer.gif" width="1" height="2"></td>
</tr>
<tr>
  <td colspan="9" bgcolor="#999999"><img src="/assets/spacer.gif" width="1" height="1"></td>
</tr>
<tr>
  <td colspan="9"><img src="/assets/spacer.gif" width="1" height="2"></td>
</tr>
<tr>

  <td width="51"><font face="Geneva,Arial,Verdana,Helvetica" size="2" class="note" color="#999999">R </font></td>
  <td width="8">
    <input type="checkbox" value="1" name="pager_9">
  </td>
  <td width="27" align="center">
    <input type="checkbox" value="1" name="email_9">
  </td>
  <td width="178"><font face="Geneva,Arial,Verdana,Helvetica" size="2" class="body"><b><a href="./?id=9">Dennis Meister</a></b></font></td>

</tr>
<tr>
  <td colspan="9"><img src="/assets/spacer.gif" width="1" height="2"></td>
</tr>
<tr>
  <td colspan="9" bgcolor="#999999"><img src="/assets/spacer.gif" width="1" height="1"></td>
</tr>
<tr>
  <td colspan="9"><img src="/assets/spacer.gif" width="1" height="2"></td>

</tr>
<tr>
  <td width="51"><font face="Geneva,Arial,Verdana,Helvetica" size="2" class="note" color="#999999">R </font></td>
  <td width="8">
    <input type="checkbox" value="1" name="pager_90">
  </td>
  <td width="27" align="center">
  </td>

  <td width="178"><font face="Geneva,Arial,Verdana,Helvetica" size="2" class="body"><b><a href="./?id=90">Terrence Montgomery</a></b></font></td>
</tr>
<tr>
  <td colspan="9"><img src="/assets/spacer.gif" width="1" height="2"></td>
</tr>
<tr>
  <td colspan="9" bgcolor="#999999"><img src="/assets/spacer.gif" width="1" height="1"></td>
</tr>

<tr>
  <td colspan="9"><img src="/assets/spacer.gif" width="1" height="2"></td>
</tr>
<tr>
  <td width="51"><font face="Geneva,Arial,Verdana,Helvetica" size="2" class="note" color="#999999">A </font></td>
  <td width="8">
  </td>
  <td width="27" align="center">

  </td>
  <td width="178"><font face="Geneva,Arial,Verdana,Helvetica" size="2" class="body"><b><a href="./?id=18">Adela Morris</a></b></font></td>
</tr>
<tr>
  <td colspan="9"><img src="/assets/spacer.gif" width="1" height="2"></td>
</tr>
<tr>
  <td colspan="9" bgcolor="#999999"><img src="/assets/spacer.gif" width="1" height="1"></td>

</tr>
<tr>
  <td colspan="9"><img src="/assets/spacer.gif" width="1" height="2"></td>
</tr>
<tr>
  <td width="51"><font face="Geneva,Arial,Verdana,Helvetica" size="2" class="note" color="#999999">T </font></td>
  <td width="8">
    <input type="checkbox" value="1" name="pager_62">

  </td>
  <td width="27" align="center">
  </td>
  <td width="178"><font face="Geneva,Arial,Verdana,Helvetica" size="2" class="body"><b><a href="./?id=62">Spare Pager</a></b></font></td>
</tr>
<tr>
  <td colspan="9"><img src="/assets/spacer.gif" width="1" height="2"></td>
</tr>

<tr>
  <td colspan="9" bgcolor="#999999"><img src="/assets/spacer.gif" width="1" height="1"></td>
</tr>
<tr>
  <td colspan="9"><img src="/assets/spacer.gif" width="1" height="2"></td>
</tr>
<tr>
  <td width="51"><font face="Geneva,Arial,Verdana,Helvetica" size="2" class="note" color="#999999">FM OL </font></td>

  <td width="8">
    <input type="checkbox" value="1" name="pager_70">
  </td>
  <td width="27" align="center">
    <input type="checkbox" value="1" name="email_70">
  </td>
  <td width="178"><font face="Geneva,Arial,Verdana,Helvetica" size="2" class="body"><b><a href="./?id=70">Bill Parker</a></b></font></td>
</tr>

<tr>
  <td colspan="9"><img src="/assets/spacer.gif" width="1" height="2"></td>
</tr>
<tr>
  <td colspan="9" bgcolor="#999999"><img src="/assets/spacer.gif" width="1" height="1"></td>
</tr>
<tr>
  <td colspan="9"><img src="/assets/spacer.gif" width="1" height="2"></td>
</tr>

<tr>
  <td width="51"><font face="Geneva,Arial,Verdana,Helvetica" size="2" class="note" color="#999999">R </font></td>
  <td width="8">
    <input type="checkbox" value="1" name="pager_86">
  </td>
  <td width="27" align="center">
    <input type="checkbox" value="1" name="email_86">
  </td>

  <td width="178"><font face="Geneva,Arial,Verdana,Helvetica" size="2" class="body"><b><a href="./?id=86">Dave Pedersen</a></b></font></td>
</tr>
<tr>
  <td colspan="9"><img src="/assets/spacer.gif" width="1" height="2"></td>
</tr>
<tr>
  <td colspan="9" bgcolor="#999999"><img src="/assets/spacer.gif" width="1" height="1"></td>
</tr>

<tr>
  <td colspan="9"><img src="/assets/spacer.gif" width="1" height="2"></td>
</tr>
<tr>
  <td width="51"><font face="Geneva,Arial,Verdana,Helvetica" size="2" class="note" color="#999999">T </font></td>
  <td width="8">
    <input type="checkbox" value="1" name="pager_118">
  </td>

  <td width="27" align="center">
    <input type="checkbox" value="1" name="email_118">
  </td>
  <td width="178"><font face="Geneva,Arial,Verdana,Helvetica" size="2" class="body"><b><a href="./?id=118">Kevin Pereira</a></b></font></td>
</tr>
<tr>
  <td colspan="9"><img src="/assets/spacer.gif" width="1" height="2"></td>
</tr>

<tr>
  <td colspan="9" bgcolor="#999999"><img src="/assets/spacer.gif" width="1" height="1"></td>
</tr>
<tr>
  <td colspan="9"><img src="/assets/spacer.gif" width="1" height="2"></td>
</tr>
<tr>
  <td width="51"><font face="Geneva,Arial,Verdana,Helvetica" size="2" class="note" color="#999999">T </font></td>

  <td width="8">
    <input type="checkbox" value="1" name="pager_110">
  </td>
  <td width="27" align="center">
    <input type="checkbox" value="1" name="email_110">
  </td>
  <td width="178"><font face="Geneva,Arial,Verdana,Helvetica" size="2" class="body"><b><a href="./?id=110">Tyler Phelan</a></b></font></td>
</tr>

<tr>
  <td colspan="9"><img src="/assets/spacer.gif" width="1" height="2"></td>
</tr>
<tr>
  <td colspan="9" bgcolor="#999999"><img src="/assets/spacer.gif" width="1" height="1"></td>
</tr>
<tr>
  <td colspan="9"><img src="/assets/spacer.gif" width="1" height="2"></td>
</tr>

<tr>
  <td width="51"><font face="Geneva,Arial,Verdana,Helvetica" size="2" class="note" color="#999999">FM </font></td>
  <td width="8">
    <input type="checkbox" value="1" name="pager_83">
  </td>
  <td width="27" align="center">
    <input type="checkbox" value="1" name="email_83">
  </td>

  <td width="178"><font face="Geneva,Arial,Verdana,Helvetica" size="2" class="body"><b><a href="./?id=83">Jeremy Rahe</a></b></font></td>
</tr>
<tr>
  <td colspan="9"><img src="/assets/spacer.gif" width="1" height="2"></td>
</tr>
<tr>
  <td colspan="9" bgcolor="#999999"><img src="/assets/spacer.gif" width="1" height="1"></td>
</tr>

<tr>
  <td colspan="9"><img src="/assets/spacer.gif" width="1" height="2"></td>
</tr>
<tr>
  <td width="51"><font face="Geneva,Arial,Verdana,Helvetica" size="2" class="note" color="#999999">T </font></td>
  <td width="8">
    <input type="checkbox" value="1" name="pager_117">
  </td>

  <td width="27" align="center">
    <input type="checkbox" value="1" name="email_117">
  </td>
  <td width="178"><font face="Geneva,Arial,Verdana,Helvetica" size="2" class="body"><b><a href="./?id=117">Abi Rankin</a></b></font></td>
</tr>
<tr>
  <td colspan="9"><img src="/assets/spacer.gif" width="1" height="2"></td>
</tr>

<tr>
  <td colspan="9" bgcolor="#999999"><img src="/assets/spacer.gif" width="1" height="1"></td>
</tr>
<tr>
  <td colspan="9"><img src="/assets/spacer.gif" width="1" height="2"></td>
</tr>
<tr>
  <td width="51"><font face="Geneva,Arial,Verdana,Helvetica" size="2" class="note" color="#999999">A </font></td>

  <td width="8">
  </td>
  <td width="27" align="center">
  </td>
  <td width="178"><font face="Geneva,Arial,Verdana,Helvetica" size="2" class="body"><b><a href="./?id=120">Matt Rossie</a></b></font></td>
</tr>
<tr>
  <td colspan="9"><img src="/assets/spacer.gif" width="1" height="2"></td>

</tr>
<tr>
  <td colspan="9" bgcolor="#999999"><img src="/assets/spacer.gif" width="1" height="1"></td>
</tr>
<tr>
  <td colspan="9"><img src="/assets/spacer.gif" width="1" height="2"></td>
</tr>
<tr>
  <td width="51"><font face="Geneva,Arial,Verdana,Helvetica" size="2" class="note" color="#999999">S </font></td>

  <td width="8">
  </td>
  <td width="27" align="center">
  </td>
  <td width="178"><font face="Geneva,Arial,Verdana,Helvetica" size="2" class="body"><b><a href="./?id=85">Sarah Saltzer</a></b></font></td>
</tr>
<tr>
  <td colspan="9"><img src="/assets/spacer.gif" width="1" height="2"></td>

</tr>
<tr>
  <td colspan="9" bgcolor="#999999"><img src="/assets/spacer.gif" width="1" height="1"></td>
</tr>
<tr>
  <td colspan="9"><img src="/assets/spacer.gif" width="1" height="2"></td>
</tr>
<tr>
  <td width="51"><font face="Geneva,Arial,Verdana,Helvetica" size="2" class="note" color="#999999">FM </font></td>

  <td width="8">
    <input type="checkbox" value="1" name="pager_68">
  </td>
  <td width="27" align="center">
    <input type="checkbox" value="1" name="email_68">
  </td>
  <td width="178"><font face="Geneva,Arial,Verdana,Helvetica" size="2" class="body"><b><a href="./?id=68">David Schott</a></b></font></td>
</tr>

<tr>
  <td colspan="9"><img src="/assets/spacer.gif" width="1" height="2"></td>
</tr>
<tr>
  <td colspan="9" bgcolor="#999999"><img src="/assets/spacer.gif" width="1" height="1"></td>
</tr>
<tr>
  <td colspan="9"><img src="/assets/spacer.gif" width="1" height="2"></td>
</tr>

<tr>
  <td width="51"><font face="Geneva,Arial,Verdana,Helvetica" size="2" class="note" color="#999999">FM OL </font></td>
  <td width="8">
    <input type="checkbox" value="1" name="pager_81">
  </td>
  <td width="27" align="center">
  </td>
  <td width="178"><font face="Geneva,Arial,Verdana,Helvetica" size="2" class="body"><b><a href="./?id=81">Chris Seffens</a></b></font></td>

</tr>
<tr>
  <td colspan="9"><img src="/assets/spacer.gif" width="1" height="2"></td>
</tr>
<tr>
  <td colspan="9" bgcolor="#999999"><img src="/assets/spacer.gif" width="1" height="1"></td>
</tr>
<tr>
  <td colspan="9"><img src="/assets/spacer.gif" width="1" height="2"></td>

</tr>
<tr>
  <td width="51"><font face="Geneva,Arial,Verdana,Helvetica" size="2" class="note" color="#999999">S </font></td>
  <td width="8">
    <input type="checkbox" value="1" name="pager_84">
  </td>
  <td width="27" align="center">
  </td>

  <td width="178"><font face="Geneva,Arial,Verdana,Helvetica" size="2" class="body"><b><a href="./?id=84">Donna Seffens</a></b></font></td>
</tr>
<tr>
  <td colspan="9"><img src="/assets/spacer.gif" width="1" height="2"></td>
</tr>
<tr>
  <td colspan="9" bgcolor="#999999"><img src="/assets/spacer.gif" width="1" height="1"></td>
</tr>

<tr>
  <td colspan="9"><img src="/assets/spacer.gif" width="1" height="2"></td>
</tr>
<tr>
  <td width="51"><font face="Geneva,Arial,Verdana,Helvetica" size="2" class="note" color="#999999">T </font></td>
  <td width="8">
    <input type="checkbox" value="1" name="pager_98">
  </td>

  <td width="27" align="center">
    <input type="checkbox" value="1" name="email_98">
  </td>
  <td width="178"><font face="Geneva,Arial,Verdana,Helvetica" size="2" class="body"><b><a href="./?id=98">Mark Short</a></b></font></td>
</tr>
<tr>
  <td colspan="9"><img src="/assets/spacer.gif" width="1" height="2"></td>
</tr>

<tr>
  <td colspan="9" bgcolor="#999999"><img src="/assets/spacer.gif" width="1" height="1"></td>
</tr>
<tr>
  <td colspan="9"><img src="/assets/spacer.gif" width="1" height="2"></td>
</tr>
<tr>
  <td width="51"><font face="Geneva,Arial,Verdana,Helvetica" size="2" class="note" color="#999999">T </font></td>

  <td width="8">
    <input type="checkbox" value="1" name="pager_96">
  </td>
  <td width="27" align="center">
    <input type="checkbox" value="1" name="email_96">
  </td>
  <td width="178"><font face="Geneva,Arial,Verdana,Helvetica" size="2" class="body"><b><a href="./?id=96">Kyle Smith</a></b></font></td>
</tr>

<tr>
  <td colspan="9"><img src="/assets/spacer.gif" width="1" height="2"></td>
</tr>
<tr>
  <td colspan="9" bgcolor="#999999"><img src="/assets/spacer.gif" width="1" height="1"></td>
</tr>
<tr>
  <td colspan="9"><img src="/assets/spacer.gif" width="1" height="2"></td>
</tr>

<tr>
  <td width="51"><font face="Geneva,Arial,Verdana,Helvetica" size="2" class="note" color="#999999">FM </font></td>
  <td width="8">
    <input type="checkbox" value="1" name="pager_27">
  </td>
  <td width="27" align="center">
    <input type="checkbox" value="1" name="email_27">
  </td>

  <td width="178"><font face="Geneva,Arial,Verdana,Helvetica" size="2" class="body"><b><a href="./?id=27">Gerald Stone</a></b></font></td>
</tr>
<tr>
  <td colspan="9"><img src="/assets/spacer.gif" width="1" height="2"></td>
</tr>
<tr>
  <td colspan="9" bgcolor="#999999"><img src="/assets/spacer.gif" width="1" height="1"></td>
</tr>

<tr>
  <td colspan="9"><img src="/assets/spacer.gif" width="1" height="2"></td>
</tr>
<tr>
  <td width="51"><font face="Geneva,Arial,Verdana,Helvetica" size="2" class="note" color="#999999">T </font></td>
  <td width="8">
    <input type="checkbox" value="1" name="pager_91">
  </td>

  <td width="27" align="center">
    <input type="checkbox" value="1" name="email_91">
  </td>
  <td width="178"><font face="Geneva,Arial,Verdana,Helvetica" size="2" class="body"><b><a href="./?id=91">Eszter Tompos</a></b></font></td>
</tr>
<tr>
  <td colspan="9"><img src="/assets/spacer.gif" width="1" height="2"></td>
</tr>

<tr>
  <td colspan="9" bgcolor="#999999"><img src="/assets/spacer.gif" width="1" height="1"></td>
</tr>
<tr>
  <td colspan="9"><img src="/assets/spacer.gif" width="1" height="2"></td>
</tr>
<tr>
  <td width="51"><font face="Geneva,Arial,Verdana,Helvetica" size="2" class="note" color="#999999">R </font></td>

  <td width="8">
    <input type="checkbox" value="1" name="pager_28">
  </td>
  <td width="27" align="center">
    <input type="checkbox" value="1" name="email_28">
  </td>
  <td width="178"><font face="Geneva,Arial,Verdana,Helvetica" size="2" class="body"><b><a href="./?id=28">Victor Tubbesing</a></b></font></td>
</tr>

<tr>
  <td colspan="9"><img src="/assets/spacer.gif" width="1" height="2"></td>
</tr>
<tr>
  <td colspan="9" bgcolor="#999999"><img src="/assets/spacer.gif" width="1" height="1"></td>
</tr>
<tr>
  <td colspan="9"><img src="/assets/spacer.gif" width="1" height="2"></td>
</tr>

<tr>
  <td width="51"><font face="Geneva,Arial,Verdana,Helvetica" size="2" class="note" color="#999999">T </font></td>
  <td width="8">
    <input type="checkbox" value="1" name="pager_126">
  </td>
  <td width="27" align="center">
    <input type="checkbox" value="1" name="email_126">
  </td>

  <td width="178"><font face="Geneva,Arial,Verdana,Helvetica" size="2" class="body"><b><a href="./?id=126">Patti Viri</a></b></font></td>
</tr>
<tr>
  <td colspan="9"><img src="/assets/spacer.gif" width="1" height="2"></td>
</tr>
<tr>
  <td colspan="9" bgcolor="#999999"><img src="/assets/spacer.gif" width="1" height="1"></td>
</tr>

<tr>
  <td colspan="9"><img src="/assets/spacer.gif" width="1" height="2"></td>
</tr>
<tr>
  <td width="51"><font face="Geneva,Arial,Verdana,Helvetica" size="2" class="note" color="#999999">T </font></td>
  <td width="8">
    <input type="checkbox" value="1" name="pager_99">
  </td>

  <td width="27" align="center">
    <input type="checkbox" value="1" name="email_99">
  </td>
  <td width="178"><font face="Geneva,Arial,Verdana,Helvetica" size="2" class="body"><b><a href="./?id=99">Ryan Walton</a></b></font></td>
</tr>
<tr>
  <td colspan="9"><img src="/assets/spacer.gif" width="1" height="2"></td>
</tr>

<tr>
  <td colspan="9" bgcolor="#999999"><img src="/assets/spacer.gif" width="1" height="1"></td>
</tr>
<tr>
  <td colspan="9"><img src="/assets/spacer.gif" width="1" height="2"></td>
</tr>
<tr>
  <td width="51"><font face="Geneva,Arial,Verdana,Helvetica" size="2" class="note" color="#999999">T </font></td>

  <td width="8">
    <input type="checkbox" value="1" name="pager_108">
  </td>
  <td width="27" align="center">
    <input type="checkbox" value="1" name="email_108">
  </td>
  <td width="178"><font face="Geneva,Arial,Verdana,Helvetica" size="2" class="body"><b><a href="./?id=108">Jenna Wiley</a></b></font></td>
</tr>

<tr>
  <td colspan="9"><img src="/assets/spacer.gif" width="1" height="2"></td>
</tr>
<tr>
  <td colspan="9" bgcolor="#999999"><img src="/assets/spacer.gif" width="1" height="1"></td>
</tr>
<tr>
  <td colspan="9"><img src="/assets/spacer.gif" width="1" height="2"></td>
</tr>

<tr>
  <td width="51"><font face="Geneva,Arial,Verdana,Helvetica" size="2" class="note" color="#999999">FM OL </font></td>
  <td width="8">
    <input type="checkbox" value="1" name="pager_72">
  </td>
  <td width="27" align="center">
    <input type="checkbox" value="1" name="email_72">
  </td>

  <td width="178"><font face="Geneva,Arial,Verdana,Helvetica" size="2" class="body"><b><a href="./?id=72">Benjamin Yaffe</a></b></font></td>
</tr>
<tr>
  <td colspan="9"><img src="/assets/spacer.gif" width="1" height="2"></td>
</tr>
<tr>
  <td colspan="9" bgcolor="#999999"><img src="/assets/spacer.gif" width="1" height="1"></td>
</tr>

<tr>
  <td colspan="9"><img src="/assets/spacer.gif" width="1" height="2"></td>
</tr>
<tr>
  <td colspan="3"></td><td class="note">
  <I><a href="./?id=new&mode=add">add new member</a></I>

</td>
</tr>

</table>

</b></td>
<td valign="top" bgcolor="white" width="50%">
  <table cellpadding="0" cellspacing="0">
    <tr>
      <td width="27" align="center"></td>
      <td width="200">
        <font face="Geneva,Arial,Verdana,Helvetica" size="2" class="body">Select by member type:</font>
      </td>
    </tr>
    <tr>

      <td colspan="7"><img src="/assets/spacer.gif" width="1" height="2"></td>
    </tr>
    <tr>
      <td colspan="7" bgcolor="#999999"><img src="/assets/spacer.gif" width="1" height="1"></td>
    </tr>
    <tr>
      <td colspan="7"><img src="/assets/spacer.gif" width="1" height="2"></td>
    </tr>
    <tr>

      <td width="27" align="center"><input type="checkbox" value="1" name="contact_leaders0" onClick="selectMembers(this.checked,tm);"></td>
      <td width="178"><font face="Geneva,Arial,Verdana,Helvetica" size="2" class="body"><b>Technical Member</b> (TM)</font></td>
    </tr>
    <tr>
      <td colspan="7"><img src="/assets/spacer.gif" width="1" height="2"></td>
    </tr>
    <tr>

      <td colspan="7" bgcolor="#999999"><img src="/assets/spacer.gif" width="1" height="1"></td>
    </tr>
    <tr>
      <td colspan="7"><img src="/assets/spacer.gif" width="1" height="2"></td>
    </tr>
    <tr>
      <td width="27" align="center"><input type="checkbox" value="1" name="contact_leaders1" onClick="selectMembers(this.checked,fm);"></td>
      <td width="178"><font face="Geneva,Arial,Verdana,Helvetica" size="2" class="body"><b>Field Member</b> (FM)</font></td>

    </tr>
    <tr>
      <td colspan="7"><img src="/assets/spacer.gif" width="1" height="2"></td>
    </tr>
    <tr>
      <td colspan="7" bgcolor="#999999"><img src="/assets/spacer.gif" width="1" height="1"></td>
    </tr>
    <tr>
      <td colspan="7"><img src="/assets/spacer.gif" width="1" height="2"></td>

    </tr>
    <tr>
      <td width="27" align="center"><input type="checkbox" value="1" name="contact_leaders2" onClick="selectMembers(this.checked,t);"></td>
      <td width="178"><font face="Geneva,Arial,Verdana,Helvetica" size="2" class="body"><b>Trainee</b> (T)</font></td>
    </tr>
    <tr>
      <td colspan="7"><img src="/assets/spacer.gif" width="1" height="2"></td>

    </tr>
    <tr>
      <td colspan="7" bgcolor="#999999"><img src="/assets/spacer.gif" width="1" height="1"></td>
    </tr>
    <tr>
      <td colspan="7"><img src="/assets/spacer.gif" width="1" height="2"></td>
    </tr>
    <tr>
      <td width="27" align="center"><input type="checkbox" value="1" name="contact_leaders3" onClick="selectMembers(this.checked,r);"></td>

      <td width="178"><font face="Geneva,Arial,Verdana,Helvetica" size="2" class="body"><b>Reserve</b> (R)</font></td>
    </tr>
    <tr>
      <td colspan="7"><img src="/assets/spacer.gif" width="1" height="2"></td>
    </tr>
    <tr>
      <td colspan="7" bgcolor="#999999"><img src="/assets/spacer.gif" width="1" height="1"></td>

    </tr>
    <tr>
      <td colspan="7"><img src="/assets/spacer.gif" width="1" height="2"></td>
    </tr>
    <tr>
      <td width="27" align="center"><input type="checkbox" value="1" name="contact_leaders4" onClick="selectMembers(this.checked,s);"></td>
      <td width="178"><font face="Geneva,Arial,Verdana,Helvetica" size="2" class="body"><b>Support</b> (S)</font></td>

    </tr>
    <tr>
      <td colspan="7"><img src="/assets/spacer.gif" width="1" height="2"></td>
    </tr>
    <tr>
      <td colspan="7" bgcolor="#999999"><img src="/assets/spacer.gif" width="1" height="1"></td>
    </tr>
    <tr>
      <td colspan="7"><img src="/assets/spacer.gif" width="1" height="2"></td>

    </tr>
    <tr>
      <td width="27" align="center"><input type="checkbox" value="1" name="contact_leaders5" onClick="selectMembers(this.checked,a);"></td>
      <td width="178"><font face="Geneva,Arial,Verdana,Helvetica" size="2" class="body"><b>Associate</b> (A)</font></td>
    </tr>

    <tr><td colspan="7"><img src="/assets/spacer.gif" width="1" height="2"></td></tr>
    <tr><td colspan="7" bgcolor="#999999"><img src="/assets/spacer.gif" width="1" height="1"></td></tr>

    <tr><td colspan="7"><img src="/assets/spacer.gif" width="1" height="10"></td></tr>
    <tr><td width="27" align="center"></td>
      <td width="178"><font face="Geneva,Arial,Verdana,Helvetica" size="2" class="body"><font color="#aaaaaa">Additional types:</font></font></td></tr>
    <tr>
      <td colspan="7"><img src="/assets/spacer.gif" width="1" height="2"></td>
    </tr>
    <tr>
      <td colspan="7" bgcolor="#999999"><img src="/assets/spacer.gif" width="1" height="1"></td>

    </tr>
    <tr>
      <td colspan="7"><img src="/assets/spacer.gif" width="1" height="2"></td>
    </tr>
    <tr>
      <td width="27" align="center"><input type="checkbox" value="1" name="contact_leaders6" onClick="selectMembers(this.checked,ol);"></td>
      <td width="178"><font face="Geneva,Arial,Verdana,Helvetica" size="2" class="body"><b>Operations Leader</b> (OL)</font></td>

    </tr>
    <tr>
      <td colspan="7"><img src="/assets/spacer.gif" width="1" height="2"></td>
    </tr>
    <tr>
      <td colspan="7" bgcolor="#999999"><img src="/assets/spacer.gif" width="1" height="1"></td>
    </tr>
    <tr>
      <td colspan="7"><img src="/assets/spacer.gif" width="1" height="2"></td>

    </tr>
    <tr>
      <td width="27" align="center"><input type="checkbox" value="1" name="contact_leaders7" onClick="selectMembers(this.checked,bd);"></td>
      <td width="178"><font face="Geneva,Arial,Verdana,Helvetica" size="2" class="body"><b>Board of Directors</b> (Bd)</font></td>
    </tr>
  </table>
</td>

</tr>
<tr>
  <td align="right" class="body" bgcolor="#e0e0e0">
    From:
    <select name="from_email">
      <option value="andy@r210.com">andy@r210.com</option>                        </select>
  </td>
</tr>

<tr>
  <td align="right" class="body" bgcolor="#e0e0e0">
    <textarea id="messagearea" name="message" rows="10" cols="40" onKeyDown="lengthLimit(document.getElementById('messagearea'),document.getElementById('charsremaining'),132);" onKeyUp="lengthLimit(this.form.message,this.form.charsRemaining,132);"></textarea>
    <br> You have <div id="charsremaining" style="display:inline;">132</div> characters left.<br><br>
  </td>
</tr>

<tr>
  <td align="right" class="body" bgcolor="#e0e0e0">
    <input type="submit" name="message_submit" value="Send message">
  </td>
</tr>
<tr>
  <td valign="top" class="note" bgcolor="#eeeeee">
    <I>PLEASE NOTE: Message content, IP addresses, and message recipients are logged for each message sent on this system.</I><br>


    <br>
    Last message sent on Tuesday, May 10 2011 at 08:20:09<br><a href="log.php">View log</a>
    <br><br>

    <B>BAMRU Status Line</B><br>650-858-4618<br>800-888-6423 x8584618<br><br>
    <B>San Mateo County</B><br>Status Line: 650-599-2162<br>Switchboard: 650-363-4000<br>24 Hour Comm: 650-363-4911<br><br>

    <B>Lt. Ed Barberini</B> OES 1<br>W:650-599-1295&nbsp;&nbsp;P:650-377-9423<br><br>
    <B>Sgt. Joe Sheridan</B> OES 2<br>W:650-363-4458&nbsp;&nbsp;P:650-746-0608&nbsp;&nbsp;M:650-740-9100<br><br>
    <B>Bill O'Callahan</B> OES 3<br>W:650-599-1294&nbsp;&nbsp;P:650-377-6502<br><br>

    <B>Dep. Jim Farrell</B> OES 11<br>W:650-740-2881&nbsp;&nbsp;P:650-363-4655&nbsp;&nbsp;M:650-524-8012<br><br>
    <B>Sgt. Ted Berndtson</B> OES 13<br>W:650-599-7400&nbsp;&nbsp;P:650-377-8162<br><br>
    <B>Dep. Sam Azar</B> OES 14<br>W:650-599-1774&nbsp;&nbsp;P:415-204-4688<br><br>

    <B>Dep. Owen Yoch</B> OES 15<br>W:650-363-4537&nbsp;&nbsp;P:650-524-8089<br><br>
    <B>Dep. Steve Pettit</B> OES 18<br>W:650-599-7400&nbsp;&nbsp;P:650-997-6656<br><br>
    <B>Dan Bennett</B> OES 99<br>W:650-363-4012&nbsp;&nbsp;P:650-524-8098&nbsp;&nbsp;M:650-245-2686<br>

    <a href="mailto:dgbennett@co.sanmateo.ca.us">dgbennett@co.sanmateo.ca.us</a><br><br>

  </td>
</tr>
<tr>
  <td height=14 align="right" class="body" bgcolor="#cccccc">
  </td>
  <td height=14 align="right" class="body" bgcolor="#cccccc"></td>
</tr>

</table>
</b></font></td>
</tr>
</table>
</td>
</tr>
</table>
</center>
</form>

<br>


